.new_comment_form input[type=text]{
	cursor: text;
	width: 300px !important;
	background: #111 !important;
	text-align: left !important;
	margin-left: 0px !important;
	margin-left: 0px !important;
	margin-top: 3px !important;
	margin-bottom: 3px !important;
	color: #FFF;
	
}

.new_comment_form textarea{
	width: 300px;
	height: 150px;
	resize: none;
	background: #111 !important;
	color: #FFF;
	margin-left: 0px !important;
	margin-left: 0px !important;
	margin-top: 3px !important;
	margin-bottom: 3px !important;
}

.new_comment_form span{
	font-size: 100%;
	color: #999;
}