.edit_profile_table_container {
	border: 1px solid #f97f04;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 750px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 30px;
	margin-right:auto;
	margin-left:auto;
	padding: 15px;
	font-size: 90%;
	color: #f97f04;
}

.edit_profile_table {
	width: 100%;
}

.edit_profile_list, .edit_profile_pass_list, .edit_profile_tastes_list, 
.edit_profile_submit_list {
	list-style: none;
}

.edit_profile_submit_list li {
	text-align: right;
}

.edit_profile_list li, .edit_profile_pass_list li, .edit_profile_tastes_list li,
.edit_profile_submit_list li {
	margin-bottom: 3px;
}

.edit_profile_change_pass_cell {
	text-align: right;
}

.edit_profile_pass_list {
	float: right;
}

.edit_profile_tastes_column {
	display: table-cell;
	width: 150px;
}

#edit_profile_form input[type=text], #edit_profile_form input[type=password] {
	background: #f97f04;
	font-style: italic;
	padding: 6px;
	color: #FFF;
	border: 0px solid #FFF;
	margin-bottom: 11px;
}

#edit_profile_form input[type=text] {
	width: 350px;
}

#edit_profile_form input[type=password] {
	width: 200px;
}

#edit_profile_form input[type=text]:focus, 
#edit_profile_form input[type=password]:focus {
	background: #ffb404;
	color: #FFF;
	box-shadow: 0 0 5px rgba(255, 180, 4, 1);
    -webkit-box-shadow: 0 0 5px rgba(255, 180, 4, 1);
}

#edit_profile_form input[type="submit"]{
	display: inline-block;
	width: 100px;
	text-align: center;
	background: #f97f04;
	color: #FFF;
	padding: 3px;
	border: 0px solid #FFF;
}

#edit_profile_form input[type="submit"]:hover {
	cursor: pointer;
}

.edit_profile_cancel_link {
	text-decoration: none;
}

.edit_profile_cancel_button {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	width: 100px;
	background: #f97f04;
	color: #FFF;
	padding: 3px;
	border: 0px solid #FFF;
}

#file {
    display:none;
}

.upload_user_photo {
	font-style: italic;
	cursor: pointer;
	text-align: center;
	width: 350px;
	height: 18px;
	background: #f97f04;
	color: #FFF;
	margin-bottom: 11px;
	padding: 6px;
}

.upload_user_photo:hover {
	background: #222;
}