/* LIMPIEZA DE MARGENES */
*{ 
	margin:0;
	padding:0;
}

a {
    text-decoration:none;
}

body { 
	width: 100%; 
	height: 100%; 
	background-image:url('/static/img/witewall.png');
	}

header {
	background-image:url('/static/img/binding_dark.png');
    display: inline-block;
	width: 100%;
	right: 0;
	min-height: 55px;
	border-bottom: 3px solid #e3ec23;
}

.left_icons_container { 
	float: left; 
	display: inline-block;
	height: 60px;
	vertical-align: middle;
}

.left_icon_empty { height: 60px; margin-left: 80px; vertical-align: middle;}

.right_icons_container { float: right; position: relative; display: inline-block;}
.right_icon_empty { height: 55px; margin-right: 80px; }

.left_icons_container ul {
	list-style: none;
}

.left_icons_container ul li{
	color: #FFF;
	font-size: 90%;
	display: inline-block;
	vertical-align: middle 
}

.main_logo_trueque {
	width: 150px;
	height: auto;
}

.main_about_button {
	height: 30px;
	width: auto;
}

.main_enter_button {
	font-style: italic;
}

.edit_user_profile_section {
	width:100%;
	height: auto;
}

.social_icon {
    text-decoration:none;
    max-width:25px;
    max-height:25px;
    height:18px;
    width:auto;
    margin:10px 3px 10px 3px;
}

#social_external_link {
    display:inline;
    float:right;
}

#social_external_links {
    width:100%;
    float:right;
    text-align:right;
}

.mini_social_logo {
    max-width:20px;
    max-height:20px;
    height:18px;
    width:auto;
    margin-right:5px;
}

.left_icons_notifications img{
	height: 50px;
	width: auto;
}

.left_icons_notifications_empty {
	width: 10px;
	height: 60px;
	vertical-align: middle;
}

.left_icons_search_bar {
	vertical-align: middle !important;
}

.left_icons_search_bar .ui-widget input{
	border: none;
	background: #555;
	border-radius: 1px;
	height: 25px;
	width: 210px;
	color: #EEE;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 90%;
	margin-right: 20px;
	margin-left: 20px;
}

.main_user_img_button {
	height: 30px;
	max-height: 30px;
	width: auto;
	max-width: 50px;
}

/* NAV_ICONS STYLE */

.nav_icons {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-right: 80px;
}

.nav_icons li {
	display: inline-block;
	margin: 0;
	vertical-align: top;
}

.nav_icons li:hover ul {
	display: block;
}

.nav_icons li ul {
	display: none;
	position: absolute;
	z-index: 5;
}

.nav_icons li ul li {
	display: block !important;
	background: #111;
	padding: 6px;
	min-width: 100px;
}

.nav_icons li ul li:hover{
	cursor: pointer;
	background: #333;
}

.nav_icon {
	vertical-align: middle !important;
	display: table-cell;
	cursor: pointer;
	text-align: center;
	width: 70px;
	height: 55px;
	margin: 0;
	padding-top: 5px;
}

.nav_icon:hover {
	background: rgba(255,255,255,0.1);
}

.nav_icons a, .nav_icons li ul li a{
	text-decoration: none;
	color: #FFF;
}

.nav_icons a {
	font-size: 70%;
}

.nav_icons li ul li a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 65%;
}
/* END NAV_ICONS STYLE */