.album_polaroids_container {
	cursor: pointer;
	width: 100%; 
	height: 700px; 
	overflow: auto;
	position: relative;
	z-index: 1;
}

.album_polaroid {
	display: inline-block;
	font-family:"Comic Sans", cursive, sans-serif;
	margin-right: auto;
	margin-left:auto;
	margin-top: 20px;
	margin-bottom: 20px;
	font-style: italic;
	text-align:center;
	height: 210px;
	width: 180px;
	vertical-align: top;
	background: #FFF;
	-webkit-box-shadow:  3px 5px 3px 2px rgba(0, 0, 0, 0.5);
    box-shadow:  3px 5px 3px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
}
	
.album_polaroid img{
    max-height: 180px;
	max-width: 160px;
	height:auto;
	width:auto;
}

.album_product_link {
    text-decorator:none;
    color:black;
}

.album_product_link:visited {
    text-decorator:none;
    color:black;
}

.go_back_button {
	cursor: pointer;
}

.go_back_button img{
	height: 25px;
}
