.buttons_container {
	list-style: none;
}

.cat_container_button_up_down, .cat_list_container{
	-webkit-transition: all 350ms ease;
	-moz-transition: all 350ms ease;
	-ms-transition: all 350ms ease;
	-o-transition: all 350ms ease;
	transition: all 350ms ease;
}

.cat_container_button_up_down {
	text-align: right;
	padding-right: 40px;
	margin-top: -5px;
	margin-bottom: -15px;
	cursor: pointer;
}

.cat_list_container {
	margin-top: 15px;
	margin-left: -15px;
	visibility: visible;
	display: block;
}

.cat_tast_list {
	list-style: none;
}

.cat_taste_list li{
	display: inline-block;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
	margin-bottom: 5px;
}

.left_bar_p {
	margin-bottom:20px;
	color: black;
	font-size:85%;
	font-style: italic;
	cursor:pointer;
}

.main_search_table {
	padding-top: 25px;
	width: 100%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.main_left_section {
    position:fixed;
	vertical-align:top;
	width: 20%;
	text-align:right;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.main_right_section {
	vertical-align:top;
	padding-left: 15px;
	width: 80%;
	height: 100%;
	padding-right:10%;
	font-family: Arial, Helvetica, sans-serif;
}

.product_name {
	text-decoration:  none;
	color: black;
}

.search_button {
	background:none;
	cursor: pointer;
	padding-top: 10px;
	padding-right: 5px;
	color: #a8a9ab;
	text-align: right;
	font-size: 160%;
	border: 0px solid #FFF;
}

.search_box {
	max-height: 50px;
	min-height: 50px;
}

.search_box_line {
	overflow: hidden;
	margin: auto;
    height: 24px;
    width: 80%;
    border-bottom: 1px solid #f77f04;
}

.search_button:hover {
	color: #f77f04;
}

.search_button_box{
    float: right;
    padding-right: 30px;
}

.search_city_filter {
	text-decoration:  none;
	color: #a8a9ab;
	font-size:70%;
	font-style: italic;
	cursor:pointer;
}

.search_country_filter {
	text-decoration:  none;
	color: #a8a9ab;
	font-size:70%;
	font-style: italic;
	cursor:pointer;
}

.search_filter input[type=radio] {
	display:none;
}

.search_filter {
    display:inline;
	text-decoration:  none;
	color: #a8a9ab;
	font-size:75%;
	margin-left:15px;
	padding-right:5px;
	padding-left:10px;
}

.search_filter input selected{
    display:inline;
	text-decoration:  none;
	color: black;
	font-size:75%;
	margin-left:15px;
	padding-right:5px;
	padding-left:10px;
}

.search_filter label{
    padding:10px;
    cursor:pointer;
}

.search_global_filter {
	text-decoration:  none;
	color: #a8a9ab;
	font-size:70%;
	font-style: italic;
	cursor:pointer;
}

.search_price_filter {
	text-decoration:  none;
	color: #a8a9ab;
	font-size:70%;
	font-style: italic;
	cursor:pointer;
}

.search_price_filter input[type=checkbox] {
	display:none;
}

.search_price_filter input selected{
    display:inline;
	text-decoration:  none;
	color: black;
	font-size:75%;
	margin-left:15px;
	padding-right:5px;
	padding-left:10px;
}

.search_price_filter label{
    padding:10px;
    cursor:pointer;
}

.taste_checkbox input[type=checkbox] {
	visibility: hidden;
}

.taste_checkbox label {
	cursor:pointer;
}
.taste_checkbox label img {
	width: 30px;
	height: auto;
	vertical-align: bottom;
}

.taste_checkbox label label {
	text-decoration:  none;
	margin-right: 10px;
	color: #a8a9ab;
	font-size: 150%;
	font-family: Arial, Helvetica, sans-serif;
}

.taste_checkbox input[type=checkbox]:checked + label label{
	cursor:pointer;
	width: 30px;
	height: 30px;
	color: #f77f04;
}

.text_cat {
	color: #f77f04;
	font-size: 120%;
	padding-left: 10px;
}
