.bids_container {
	display:none;
	overflow: auto;
	height: 400px;
	padding-left: 30px;
	text-align: left;
}

.bids_container_scroll {
	overflow: auto;
	height: 300px;
}

#category_container {
    display:inline-block;
    width:100%;
    height:auto;
    margin-left:10px;
}

.category_img {
    max-width:40px;
    max-height:40px;
    height:40px;
    width:auto;
    float:left;
    margin: 10px 0px 10px 5px;
    
}

.center_container_product_title {
    width:100%;
    display:block;
	font-size: 130%;
	color: #333;
	margin-bottom: 5px;
	margin-left:10px;
	text-align:left;
}

.center_container_product_subtitle {
	font-size: 60%;
	color: #333;
	margin-bottom: 5px;
	margin-top:15px;
	margin-left:10px;
	float:left;
}

.center_container_product_description {
	font-size: 90%;
	color: #777;
	margin-bottom: 5px;
	margin-left: 10px;
	float:left;
	display:block;
}

.comments_name {
	font-size: 60%;
	color: #333;
}

.comments_title {
	font-size: 90%;
	color: #333;
}

.comments_message {
	color: #777;
	font-size: 80%;
	padding-left: 10px;
}

.comments_date {
	text-align:right;
	font-size: 60%;
	color: #333;
}

.comments_message_date_container {
	display:none;
}

.comments_comment_container {
	cursor: pointer;
	padding: 5px;
	border-bottom: 1px solid #AAA;
}

.comments_comment_container:hover {
	background: #DDD;
}

.comments_container {
	overflow: auto;
	height: 450px;
	padding-left: 30px;
}

.main_container_uploaded_container{
	min-height: 50px;
}

.main_container_uploaded_container ul {
	list-style: none;
}
.main_container_uploaded_container ul li {
	display:inline-block;
}

.product_main_mini_polaroid {
	z-index:3;
	text-align: center;
	margin-left: 5px;
	height: 40px;
	width: 35px;
	padding: 5px;
	-webkit-box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.product_main_mini_polaroid_img_container {
	display: table-cell;
	width: 35px;
	height: 35px;
	max-width: 35px !important;
	max-height: 35px !important;
	background: #EEE;
	vertical-align:middle;
}
.product_main_mini_polaroid_img_container img{
	width: auto;
	height: auto;
	max-width: 35px !important;
	max-height: 35px !important;	
}
.product_main_mini_polaroid:hover {
	z-index: 4;
	display: float;
	min-height: 60px;
	min-width: 50px;
}
.product_main_mini_polaroid:hover .product_main_mini_polaroid_img_container {
	max-width: 50px !important;
	max-height: 50px !important;
	width: 50px;
	height: 50px;
}
.product_main_mini_polaroid:hover .product_main_mini_polaroid_img_container img{
	width: auto;
	height: auto;
	max-width: 50px !important;
	max-height: 50px !important;
}

.owner_product_new_comment_button {
	cursor: pointer;
	background: #f97f04;
	width: auto;
	color: #FFF;
	text-align: center;
	margin-top: 15px;
	padding: 5px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.owner_product_new_comment_button:hover {
	background: #333;
	cursor: pointer;
}

.owner_product_main_container {
	display: block;
	width: 800px;
	width: 100%;
	min-height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#social_external_links {
	text-align: center;
}

.product_main_container_left_col {
	display: inline-block;
	width: 270px;
	vertical-align: top;
}

.product_main_container_center_col {
	display:inline-block;
	min-width: 250px;
	max-width: 250px;
	vertical-align: top;
	border-left: 2px solid #BBB;
	border-right: 2px solid #BBB;
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
	height: 350px;
	margin-top: 60px;
}

.product_main_container_right_col {
	display:inline-block;
	margin-right: 30px;
	max-width:30%;
	min-width: 300px;
	margin-top: 30px;
	
}

.product_main_img {
	z-index:3;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 40px;
	margin-left: 15px;
	height: 250px;
	width: 210px;
	padding: 5px;
	-webkit-box-shadow:  3px 5px 3px 2px rgba(0, 0, 0, 0.4);
    box-shadow:  3px 5px 3px 2px rgba(0, 0, 0, 0.4);
    -moz-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg); 
}
.product_main_img .product_main_img_container {
	display: table-cell;
	width: 210px;
	height: 210px;
	max-width: 210px !important;
	max-height: 210px !important;
	background: #EEE;
	vertical-align:middle;
}
.product_main_img .product_main_img_container img{
	width: auto;
	height: auto;
	max-width: 210px !important;
	max-height: 210px !important;	
}
.product_main_img .product_main_name_container {
	font-style: italic;
	font-size: 80%;
}

.product_q_price_container {
	margin-top: 20px;
	vertical-align: center;
	text-align: center;
}

.product_q_price_container img {
	width: 30px;
	height: auto;
}

.product_q_price_container span {
	font-size: 200%;
	color: #f97f04;
}

.right_col_buttons {
	margin-bottom: 10px;
}

.right_col_buttons ul {
	list-style: none;
}

.right_col_buttons ul li {
	cursor: pointer;
	display: inline-block;
	margin-right: 20px;
	font-size: 90%;
	color: #555;
	padding: 5px;
	color: #f97f04;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

.right_col_buttons ul li:hover {
	background: #EEE;
	border-radius: 5px;
}

.right_col_buttons_comments_button {
	border-bottom: 1px solid #f97f04;
}

.share_btns {
    margin-top:20px;
}

/*DIALOG STYLE*/
#dialog_int, #dialog_int_result{
  background: transparent;
  border: none;
}

.ui-dialog{ 
    background: #222;
    padding-top: 0px;
    padding-right: 0px;
}

.ui-widget-content {
	border: none;	
}

.ui-dialog .ui-dialog-titlebar {
	border: none;
	background: #111;
	padding: 0px;
	margin: 0px;
	height: 10px;
	background-color: #f97f04;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}

.ui-dialog .ui-dialog-titlebar-close {
	top: -4px;
	left: -18px !important;
	z-index: 1;
	width:30px;
	height: 30px;
	-webkit-border-radius: 99px;
	-moz-border-radius: 99px;
	border-radius: 99px;
	border: none;
	background: #f97f04;
}
/*END DIALOG STYLE*/

.bid_container {
	display: table-cell;
	width: 240px;
	height: auto;
	border-bottom: 1px solid #AAA;
	vertical-algin: middle;
}

.bid_container_user_img {
	vertical-align: middle;
}

.bid_container_user_name {
	font-size: 60%;
	color: #333;
	vertical-align: middle;
	padding-left: 5px;
}

.bid_container_q_amount {
	font-size: 130%;
}

.bid_container_img_container {
	display: inline-block;
	height: 60px;
	width: 42px;
	margin-bottom: 10px;
	margin-left: 10px;
	text-align:center;
	-moz-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-box-shadow:  3px 5px 3px 2px rgba(0, 0, 0, 0.5);
    box-shadow:  3px 5px 3px 2px rgba(0, 0, 0, 0.5);
}

.bid_container_img_link{
	text-decoration:none;
	color: #f97f04;
}

.bid_container_img_container img {
	height: 45px;
	width: auto;
	max-height: 45px;
	max-width: 30px;
	vertical-align: middle;
}

.bid_container_product_name{
	font-size: 70%;
	padding-left: 5px;
	vertical-align: middle;
}

.bid_container input[type="radio"] {
	display:none;
}

.bid_container input[type="radio"] + label {
	display:block;
	margin-left: 15px;
	margin-right: 5px;
	cursor: pointer;
    background-image:url('/static/img/icons/xverde.png');
    height: 22px;
    width: 22px;
    display:inline-block;
    background-repeat: no-repeat;
	background-position: left top;
	background-size:22px 22px;
}

.bid_container input[type="radio"]:checked + label {
    background-image:url('/static/img/icons/xnaranjo.png');
    display:inline-block;
}

.form_bid_accept_button {
	border: none;
	background: transparent;
	cursor: pointer;
	float: right;
	color: #333;
	font-size: 110%;
	padding-top: 15px;
	font-weight: bold;
}

.form_bid_accept_button:hover {
	color: #f97f04;
}

.bids_container_with_message {
	font-size: 70%;
}

#bids_container_with_usser_name {
	font-size: 70%;
	color: #f97f04;
}