.bid_text_title{
	font-family: Arial, Helvetica, sans-serif;
	color: #999;
	font-size: 150%;
	font-style:oblique;
	text-align: left;
	padding-left: 10px;
}

#q_amount {
	vertical-align: top;
	font-size: 150%;
	color: #f97f04;
	width: 80px;
	border: 0 solid #FFF;
	padding-top:4px;
	float: left;
	margin-left: 10px;
}

#q_bid_img {
	width: 40px;
	height: auto;
	float:left;
}

#accept_bid_button {
	cursor: pointer;
	border: 0 solid #FFF;
	color: #f97f04;
	font-weight:bold;
	font-size: 120%;
	float:right;
}

#accept_bid_button:hover {
	color: #333;
}

.radio_polaroids input[type="radio"] {
	visibility: hidden;
}

.radio_polaroids input[type="radio"]:checked + label .mini_radio_polaroid{
	-webkit-box-shadow:  3px 5px 3px 2px rgba(200, 100, 0, 0.5);
    box-shadow:  3px 5px 3px 2px rgba(200, 100, 0, 0.5);
}
.radio_polaroids input[type="radio"] + label:hover {
	cursor:pointer;
}

.mini_radio_polaroid {
	display: inline-block;
	font-family:"Comic Sans", cursive, sans-serif;
	margin-right: auto;
	margin-left:auto;
	margin-top: 20px;
	margin-bottom: 20px;
	font-style: italic;
	text-align:center;
	height: 95px;
	width: 80px;
	vertical-align: top;
	background: #FFF;
	-webkit-box-shadow:  3px 5px 3px 2px rgba(0, 0, 0, 0.5);
    box-shadow:  3px 5px 3px 2px rgba(0, 0, 0, 0.5);
    position: relative;
}

.mini_radio_polaroid img{
    max-height: 80px;
	max-width: 55px;
	height:auto;
	width:auto;
	
}

.mini_bid_polaroid_container {
	overflow-y: hidden;
	overflow-x: auto;
	max-height: 220px;
	min-height: 220px;
	width: 280px;
	margin-left: 10px;
}

.mini_bid_polaroid_container ul {
	list-style: none;
}

.mini_bid_polaroid_container ul li{
	display: inline-block;
}
