.bids_container {
	display:none;
}

#category_container {
    display:inline-block;
    width:100%;
    height:auto;
    margin-left:10px;
}

.category_img {
    max-width:40px;
    max-height:40px;
    height:40px;
    width:auto;
    float:left;
    margin: 10px 0px 10px 5px;
    
}

.center_container_product_title {
    width:100%;
    display:block;
	font-size: 130%;
	color: #333;
	margin-bottom: 5px;
	margin-left:10px;
	text-align:left;
}

.center_container_product_subtitle {
	font-size: 60%;
	color: #333;
	margin-bottom: 5px;
	margin-top:15px;
	margin-left:10px;
	float:left;
}

.center_container_product_description {
	font-size: 90%;
	color: #777;
	margin-bottom: 5px;
	margin-left: 10px;
	float:left;
	display:block;
}

.comments_name {
	font-size: 60%;
	color: #333;
}

.comments_title {
	font-size: 90%;
	color: #333;
}

.comments_message {
	color: #777;
	font-size: 80%;
	padding-left: 10px;
}

.comments_date {
	text-align:right;
	font-size: 60%;
	color: #333;
}

.comments_message_date_container {
	display:none;
}

.comments_comment_container {
	cursor: pointer;
	padding: 5px;
	border-bottom: 1px solid #AAA;
}

.comments_comment_container:hover {
	background: #DDD;
}

.comments_container {
	overflow: auto;
	height: 450px;
	padding-left: 30px;
}

.main_container_uploaded_container{
	width: 100%;
	min-height: 50px;
	margin-left: 80px;
}

.main_container_uploaded_container ul {
	list-style: none;
	margin-left: -10px;
}
.main_container_uploaded_container ul li {
	display:inline-block;
}

.new_product_mini_polaroid {
	display:inline-block;
	vertical-align:top;
	height: 40px;
	width: 35px;
	margin-right: 5px;
	-webkit-box-shadow:  1px 3px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow:  1px 3px 1px 1px rgba(0, 0, 0, 0.3);
}

.new_product_mini_polaroid:hover {
	min-height: 40px;
	min-width: 35px;
	height: auto;
	width: auto;
}

.new_product_mini_polaroid_img {
	min-width: 30px;
	max-width: 30px;
	min-height: 30px;
	max-height: 30px;
	-moz-transform: scale(1) rotate(-2deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(-2deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(-2deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(-2deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(-2deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg); 
}

.owner_product_new_comment_button {
	cursor: pointer;
	background: #f97f04;
	width: auto;
	color: #FFF;
	text-align: center;
	margin-top: 15px;
	padding: 5px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.owner_product_new_comment_button:hover {
	background: #333;
	cursor: pointer;
}

.owner_product_main_container {
	display: inline-block;
	width: 100%;
	min-height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	text-align:center;
}

.product_main_container_left_col {
	display:inline-block;
	width: auto;
	padding-right: 60px;
	vertical-align: top;
}

.product_main_container_center_col {
	display:inline-block;
	min-width: 250px;
	max-width: 250px;
	vertical-align: top;
	border-left: 2px solid #BBB;
	border-right: 2px solid #BBB;
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
	height: 350px;
	margin-top: 60px;
}

.product_main_container_right_col {
	display:inline-block;
	margin-right: 30px;
	max-width:30%;
	min-width: 300px;
	margin-top: 30px;
	
}

.product_main_img{
	cursor: pointer;
	text-align: center;
	width: 200px;
	height: 250px;
	margin-top: 50px;
	margin-left: 50px;
	margin-bottom: 50px;
	-webkit-box-shadow:  3px 5px 3px 2px rgba(0, 0, 0, 0.5);
    box-shadow:  3px 5px 3px 2px rgba(0, 0, 0, 0.5);
    -moz-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg); 
}

.product_main_img img{
	cursor: pointer;
	max-width: 200px;
	max-height: 250px;
}

.product_q_price_container {
	margin-top: 20px;
	vertical-align: center;
	text-align: center;
}

.product_q_price_container img {
	width: 30px;
	height: auto;
}

.product_q_price_container span {
	font-size: 200%;
	color: #f97f04;
}

.right_col_buttons {
	margin-bottom: 10px;
}

.right_col_buttons ul {
	list-style: none;
}

.right_col_buttons ul li {
	cursor: pointer;
	display: inline-block;
	margin-right: 20px;
	font-size: 90%;
	color: #555;
	padding: 5px;
	color: #f97f04;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

.right_col_buttons ul li:hover {
	background: #EEE;
	border-radius: 5px;
}

.right_col_buttons_comments_button {
	border-bottom: 1px solid #f97f04;
}

.share_btns {
    margin-top:20px;
}
