{% extends "main_template.html" %}
{% block content %}
<link rel="stylesheet" media="all" href="/static/style/style_about.css" />
<section id="about_section">
<a name="condiciones"><p class="about_header"> Términos y condiciones </p></a>
<p class="about_text">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius ultricies est, nec suscipit arcu congue sit amet. Suspendisse blandit cursus neque, in volutpat massa rhoncus in. Aliquam nec laoreet nisl. Aliquam tristique pharetra purus non elementum. Nunc a lectus sodales erat dignissim facilisis. Suspendisse in sem id enim pulvinar sollicitudin. Aliquam fermentum, mauris eu congue hendrerit, dui sapien convallis mi, non aliquet erat risus quis massa. Morbi eget varius dui. Suspendisse bibendum consectetur eros, eu iaculis elit interdum ut. Maecenas egestas leo vel augue ultricies ullamcorper. Cras varius dapibus justo convallis commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris risus augue, aliquam id vulputate in, sollicitudin eu nisi. Etiam sodales aliquam vehicula. Nam auctor sapien a nulla gravida vitae bibendum ante accumsan.
</p>

<a name="copyright"><p class="about_header"> Copyright </p></a>
<p class="about_text">
In vel ipsum felis, id luctus augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris lacinia diam vitae ligula dignissim varius. Suspendisse vulputate adipiscing accumsan. Nunc nec nisl mi. Etiam aliquam tempor nibh eget malesuada. Nullam iaculis consectetur sagittis. Mauris ut ipsum ante. In in arcu ac dolor commodo mollis at sed purus. Nam ac convallis arcu. Sed tincidunt sodales elementum. Aenean sed quam ut augue aliquet scelerisque. Pellentesque pretium ultricies diam et porttitor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In rhoncus sollicitudin felis vitae tristique.
</p>

<a name="privacidad"><p class="about_header"> Políticas de privacidad </p></a>
<p class="about_text">
Sed elit lectus, vestibulum a elementum non, viverra eu nisl. Phasellus vel leo velit, ac vulputate sem. Nam scelerisque vestibulum erat at pretium. Nunc tempus bibendum lacus, nec tempor dui aliquam id. Donec lacus mi, dignissim ut dignissim et, fermentum at mi. Sed sit amet ullamcorper leo. In viverra, ante in vulputate sollicitudin, dui dolor fermentum massa, in tempus tortor ligula elementum lacus. Proin sagittis, enim at suscipit ultricies, libero quam elementum magna, a aliquam magna urna et arcu. Integer tristique eleifend lacus sed mollis. Quisque pulvinar vulputate tempor. Integer sagittis eleifend fermentum. Suspendisse consectetur sapien sit amet mi scelerisque dictum. Ut dapibus, sapien in facilisis tincidunt, nisi purus molestie lorem, in vestibulum elit velit et massa. Integer nunc risus, malesuada at hendrerit in, hendrerit vel tellus.
</p>

<a name="equipo"><p class="about_header"> Equipo </p></a>
<p class="about_text">
Cras lacinia orci nec mi tempus eu sollicitudin eros tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque cursus nisl vitae sapien dictum tristique. Aliquam egestas sodales faucibus. Pellentesque nec neque quis ligula ultrices tristique. Sed condimentum eleifend nisi, ac aliquam tellus vulputate at. Donec eu diam in arcu fermentum ornare. Nullam quis dolor sed felis vestibulum sodales. Mauris feugiat quam ac velit sodales accumsan. Praesent dictum, tortor ut volutpat tempus, dui sem tincidunt metus, at condimentum mauris tortor volutpat orci. Nam at turpis pulvinar risus fringilla luctus. Pellentesque tempor elit in eros tincidunt iaculis. Cras porttitor faucibus tincidunt.
</p>

<a name="empleo"><p class="about_header"> Empleo </p></a>
<p class="about_text">
Phasellus commodo aliquet elit, nec pharetra nisl tincidunt quis. Quisque fringilla mi vitae metus laoreet sodales. Integer eget nulla eget turpis pellentesque volutpat non mollis mauris. Etiam mattis cursus nulla id placerat. Praesent molestie ante at leo molestie a rhoncus enim tincidunt. Aliquam malesuada nisl at nisi aliquam tincidunt. Nulla facilisi. Curabitur leo felis, condimentum id dictum at, condimentum vitae lacus. Vivamus tempus adipiscing urna id iaculis. Quisque non ultrices purus. Donec porta suscipit risus, sed euismod neque suscipit eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut vitae ipsum vel lectus faucibus sollicitudin. Pellentesque consectetur lacinia libero eu suscipit. Praesent vitae nisl ante. Cras nunc nisi, vulputate sit amet mattis ut, fermentum sit amet ante.
</p>
</section>
{% endblock %}
