{% extends "main_template.html" %}
{% block content %}
<link rel="stylesheet" media="all" href="/static/style/style_template_polaroids.css" />
<link rel="stylesheet" media="all" href="/static/style/style_main_search.css" />
<link href="/static/style/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
<table class="main_search_table">
	<tr>
	<td class="main_left_section">
		<label class="left_bar_p">Búsqueda </label><br/>
			<label class="search_global_filter" id="filter_global">Global</label><br />
			<label class="search_global_filter" id="filter_local">Local</label><br />
		<br/>
		
		<label class="left_bar_p">País </label><br/>
		    <div id="countries">
			</div>
	    <br/>
	    
		<label class="left_bar_p">Localidad </label><br/>
    		<div id="cities">
			</div>
		<br/>
	
		<label class="left_bar_p">Valor </label><br/>
			<label class="search_price_filter" id="filter_low">Bajo</label><br />
			<label class="search_price_filter" id="filter_medium">Medio</label><br />
			<label class="search_price_filter" id="filter_high">Alto</label><br />
		<br/>
		
		<p>Amistad sugerida</p>
		{% if rec_users %}
			{% for rec_user in rec_users%}
				{{ rec_user.usuario_name }} {{ rec_user.usuario_lastname }} <img src="" /> <br/>
			{% endfor %}
		{% endif %}
		<p>Actividad reciente</p>
	</td>

	<td class="main_right_section">
		<p> Categorías <label class="search_filter" id="filter_popularity">Popularidad</label> <label class="search_filter" id="filter_price">Valor</label> <label class="search_filter" id="filter_recent">Recientes</label>
		</p>
		<section class="product_search_section">
			<form id="productSearchForm" action="/search/category/" method="POST">
				{% csrf_token %}
				<img src="/static/img/cat/tecnologia.png">{{ form.field_1 }}	<label class="cat_label">TECNOLOGÍA</label>
				<img src="/static/img/cat/ropa.png">{{ form.field_2 }} 			<label class="cat_label">ROPA</label>
				<img src="/static/img/cat/vinilos.png">{{ form.field_3 }}		<label class="cat_label">VINILOS</label>
				<img src="/static/img/cat/diseno.png">{{ form.field_4 }}		<label class="cat_label">DISEÑO</label>
				<br />
				<img src="/static/img/cat/arte.png">{{ form.field_5 }}			<label class="cat_label">ARTE</label>
				<img src="/static/img/cat/servicios.png">{{ form.field_6 }}		<label class="cat_label">SERVICIOS</label>
				<img src="/static/img/cat/espectaculos.png">{{ form.field_7 }}	<label class="cat_label">ESPECTÁCULOS</label>
				<img src="/static/img/cat/amor.png">{{ form.field_8 }}			<label class="cat_label">AMOR</label>
				<br />
				<img src="/static/img/cat/comida.png">{{ form.field_9 }}		<label class="cat_label">COMIDA</label>
				<img src="/static/img/cat/deporte.png">{{ form.field_10 }}		<label class="cat_label">DEPORTE</label>
				<img src="/static/img/cat/musica.png">{{ form.field_11 }}		<label class="cat_label">MÚSICA</label>
				<img src="/static/img/cat/eco.png">{{ form.field_12 }}			<label class="cat_label">ECO</label>
			
				<input type="submit" value="BUSCAR"/>
			</form>
		</section>
	
		{% load pagination_tags %}
			<style>
				{% for rand in random_ints %}
				#album_polaroid_{{ forloop.counter }} {
					-moz-transform: scale(1) rotate({{rand}}deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
					-webkit-transform: scale(1) rotate({{rand}}deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
					-o-transform: scale(1) rotate({{rand}}deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
					-ms-transform: scale(1) rotate({{rand}}deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
					transform: scale(1) rotate({{rand}}deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg); 
				}
				{% endfor %}
			</style>
			<br>
			<div id="result">
                {% if data %}
					{% for product in data %}
						<div id="album_polaroid_{{ forloop.counter }}" class="album_polaroid"><a class="product_name" href="/products/{{ product.id_product }}"><image src="/media/{{ product.product_img }}/img_1.png" alt="{{product.product_img}}" width="100"/><br />{{ product.product_name }}</a></div>
					{% endfor %}	
				{% endif %}
				
			</div>
		</td>
	</tr>
</table>
<script type="text/javascript" src="/static/js/js_product_search.js"></script>
{% endblock %}
