{% extends "main_template.html" %}
{% block content %}
	{% if product %}
		<link rel="stylesheet" media="all" href="/static/style/style_template_owner_product_details.css" />
		<link href="/static/style/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
		
		<div class="owner_product_main_container">
	
		<div class="product_main_container_left_col">
		
			<div class="product_main_img">
				<img src="/media/{{ product.product_img }}/img_1.png" alt="{{product.product_img}}_01" h/>
			</div>
			
			<div class="main_container_uploaded_container">
				<ul>
					<li><div class="new_product_mini_polaroid"><img src="/media/{{ product.product_img }}/img_2.png" alt="{{product.product_img}}_02" class="new_product_mini_polaroid_img"/></div></li>
					<li><div class="new_product_mini_polaroid"><img src="/media/{{ product.product_img }}/img_3.png" alt="{{product.product_img}}_03" class="new_product_mini_polaroid_img"/></div></li>
					<li><div class="new_product_mini_polaroid"><img src="/media/{{ product.product_img }}/img_4.png" alt="{{product.product_img}}_04" class="new_product_mini_polaroid_img"/></div></li>
					<li><div class="new_product_mini_polaroid"><img src="/media/{{ product.product_img }}/img_5.png" alt="{{product.product_img}}_05" class="new_product_mini_polaroid_img"/></div></li>
				</ul>
			</div>
		
		</div>
		
		<div class="product_main_container_center_col">
			<p class="center_container_product_title">{{ product.product_name }}</p>
			<p class="center_container_product_description">{{ product.product_description }}</p>
			<p class="center_container_product_subtitle">Categorías de interes para trocar este producto</p>
			{% if categories %}
				{% for cat in categories %}
					{{ cat.id_category.category_name }}
				{% endfor %}
			{% endif %}
			<p class="center_container_product_subtitle">Categorías:</p>

			<div class="product_q_price_container">
				<span>{{ product.product_q_amount }}</span>
				<img src="/static/img/icons/Q-gris.png" alt="Q">
			</div>
			
			<a href="/album/toalbum/{{product.id_product}}" style="text-decoration: none;">
				<div class="owner_product_new_comment_button">
					Agregar a un album
				</div>
			</a>
			
		</div>
		
		<div class="product_main_container_right_col">
			<div class="right_col_buttons">
				<ul>
					<li class="right_col_buttons_interested_button">Interesados</li>
					<li class="right_col_buttons_comments_button">Comentarios</li>
				</ul>
			</div>
			
			{% if bids %}
				<div class="bids_container">
					{% csrf_token %}
					{% for bid in bids %}
						{% if bid.bid_id_product %}		
							{{ bid.id_bidder.usuario_name }} {{ bid.id_bidder.usuario_lastname }}<br>
							<image src="/media/{{ bid.bid_id_product.product_img }}/img_1.png" width="70"/><br>
							{{ bid.bid_id_product.product_name }}
							<hr>
						{% else %}
							{{ bid.id_bidder.usuario_name }} {{ bid.id_bidder.usuario_lastname }}<br>
							{{ bid.bid_q }} 
							<hr>
						{% endif %}
					{% endfor %}
				</div>
				{% if user %}
				     <a href="/transactions/bid/{{ product.id_product }}" style="text-decoration: none;" class="owner_product_new_comment_button_href">
					    <div class="owner_product_new_comment_button">
						    Ofrecer trueque
					    </div>
				    </a>
			    {% endif %}
			{% endif %}
			
			
			
			
		
			{% if comments %}
				<div class="comments_container">
				{% for comment in comments %}
					<div class="comments_comment_container">
						<p class="comments_name">{{ comment.id_sender.usuario_name }} {{ comment.id_sender.usuario_lastname }}</p>
						<p class="comments_title">{{ comment.comment_subject }}</p>
						<div class="comments_message_date_container">
							<p class="comments_message">{{ comment.comment_text }}</p>
							<p class="comments_date">{{ comment.comment_datetime|date:"l j/F/Y" }}</p>
						</div>
					</div>
				{% endfor %}	
				</div>
				
				{% if user %}
				    <a href="/products/comment/{{ product.id_product }}" style="text-decoration: none;" class="owner_product_new_comment_button_href">
					    <div class="owner_product_new_comment_button">
						    Deja tu comentario
					    </div>
				    </a>
				{% endif %}
			{% endif %}
			</div>
		</div>
	{% endif %}
	
	<script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script>
		$(document).ready(function() {
			$(".comments_container").mCustomScrollbar();
			
			$(".right_col_buttons_interested_button").bind('click', function () {
				$(".comments_container").hide();
				$(".bids_container").show();
				$(this).css("border-bottom", "1px solid #f97f04");
				$(".right_col_buttons_comments_button").css("border-bottom", "0px solid #f97f04");
				$(".owner_product_new_comment_button_href").hide();
			});
			
			$('.right_col_buttons_comments_button').bind('click', function () {
				$(".bids_container").hide();
				$(".comments_container").show();
				$(this).css("border-bottom", "1px solid #f97f04");
				$(".right_col_buttons_interested_button").css("border-bottom", "0px solid #f97f04");
				$(".owner_product_new_comment_button_href").show();
			});
			
			$('.comments_comment_container').bind('click', function () {
				if($(this).find(".comments_message_date_container").is(":hidden")){
					$(this).find(".comments_message_date_container").show();
				}
				else{
					$(this).find(".comments_message_date_container").hide();
				}
				$(".comments_container").mCustomScrollbar("update");
			});
		});
	</script>
{% endblock %}
