/* DIALOG STYLE */
.invitation_section #invitation_dialog {
    background: transparent;
    border: none;
    width:100%;
    height:100%;    
}

.invitation_section ~ .ui-dialog{ 
    background: #222;
    padding-top: 0px;
    padding-right: 0px;
    vertical-align:middle;
}

.invitation_section ~ .ui-widget-content {
	border: none;	
}

.invitation_section ~ .ui-dialog .ui-dialog-titlebar {
	border: none;
	display:block;
	background: #111;
	padding: 0px;
	margin: 0px;
	height: 10px;
	background-color: #f97f04;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
	background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}

.invitation_section ~ .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}
.invitation_section ~ .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}

.invitation_section ~ .ui-dialog .ui-dialog-titlebar-close {
	top: -4px;
	left: -18px !important;
	z-index: 1;
	width:30px;
	height: 30px;
	-webkit-border-radius: 99px;
	-moz-border-radius: 99px;
	border-radius: 99px;
	border: none;
	background: #f97f04;
}

.invitation_section ~ .ui-dialog-title {
    display:none;
}
/*END DIALOG STYLE*/

.invitation_section .modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.2);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 700ms ease-in;
	-moz-transition: opacity 700ms ease-in;
	transition: opacity 700ms ease-in;
	pointer-events: none;
}

.invite_text {
    color:#ffffff;
    font-size:10px;
    margin-bottom:5px;
}

.invite_button_div {
    width:100%;
    display:block;
}

.invitation_section ~ .ui-widget input {
    color:#c1cd21;
    background:#000000;
    width:80px;
    text-align:center;
    margin-left:5px;
    margin-top:10px;
    padding:5px;
    font-size:10px;
    float:right;
    cursor:pointer;
    text-decoration:none;
    border:0px;
    border-radius:0px;
    box-shadow:0px 0px 0px 0px;
}

.invitation_section ~ .ui-widget input:hover {
    color:#ffffff;
    background:#fa7e04;
    font-size:10px;
    text-decoration:none;
}

.invitation_section ~ .ui-widget textarea {
    width:300px;
    height:40px;
    background:#4d4d4d;
    color:#ffffff;
    border:0px;
    margin-bottom:10px;
    font-size:10px;
    padding:5px;
}

.numeros {
    text-decoration:none;
    color:#fa7e04;
    font-size:10px;
}

.modalSentDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.2);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 700ms ease-in;
	-moz-transition: opacity 700ms ease-in;
	transition: opacity 700ms ease-in;
	pointer-events: none;
}

.modalSentDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalSentDialog div {
	width: 200px;
	height:50px;
	position: relative;
	margin: 5% auto;
	padding: 20px 20px 20px 20px;
	background: #312d2e;
}

.modalSentDialog div p{
    color:#ffffff;
    font-size:13px;
    float:center;  
    vertical-align:center;
}
