/* LIMPIEZA DE MARGENES */
*{ 
	margin:0;
	padding:0;
}

body { width: 100%; height: 100%; }

header {
	width: 100%;
	right: 0;
	height: 55px;
	background: #312d2e;
	border-bottom: 3px solid #e3ec23;
	overflow: hidden;
}

.left_icons_container { float: left; }
.left_icon_empty { height: 55px; margin-left: 80px; }

.right_icons_container { float: right; }
.right_icon_empty { height: 55px; margin-right: 80px; }

.right_icons_container ul, .left_icons_container ul {
	list-style: none;
}

.right_icons_container ul li, .left_icons_container ul li{
	color: #FFF;
	font-size: 90%;
	display: inline-block;
	vertical-align: middle 
}

.main_logo_trueque {
	width: 150px;
	height: auto;
}

.main_about_button {
	height: 55px;
	width: auto;
}

.main_enter_button {
	margin-left: 20px;
	color: #e3ec23;
	font-style: italic;
}

.edit_user_profile_section {
	width:100%;
	height: auto;
}