/* LIMPIEZA DE MARGENES */
*{ 
	margin:0;
	padding:0;
}

a {
    text-decoration:none;
}

body { width: 100%; height: 100%; }

header {
    display: inline-block;
	width: 100%;
	right: 0;
	min-height: 55px;
	background: #312d2e;
	border-bottom: 3px solid #e3ec23;
}

#trans-nav li a{
	text-align: center;
	font-size: 70%;
}

.left_icons_container { float: left; display: inline-block;}
.left_icon_empty { height: 55px; margin-left: 80px; }

.right_icons_container { float: right; position: relative; display: inline-block;}
.right_icon_empty { height: 55px; margin-right: 80px; }

.left_icons_container ul {
	list-style: none;
}

.left_icons_container ul li{
	color: #FFF;
	font-size: 90%;
	display: inline-block;
	vertical-align: middle 
}

.main_logo_trueque {
	width: 150px;
	height: auto;
}

.main_about_button {
	height: 30px;
	width: auto;
}

.main_enter_button {
	text-decoration:  none;
	margin-left: 20px;
	color: #e3ec23;
	font-style: italic;
}

.edit_user_profile_section {
	width:100%;
	height: auto;
}

.social_icon {
    text-decoration:none;
    max-width:25px;
    max-height:25px;
    height:18px;
    width:auto;
    margin:10px 3px 10px 3px;
}

#social_external_link {
    display:inline;
    float:right;
}

#trans-nav { 
	list-style: none;
	list-style-type: none; 
	padding: 0; 
	margin: 0; 
	position:relative;
	z-index: 4;
}

#trans-nav li { 
	color: #FFF;
	font-size: 90%;
	display: inline-block;
	position: relative;
	z-index: 5;
}

#trans-nav li a { 
	display: block; 
	padding: 0 15px; 
	color: #fff; 
	text-decoration: none; 
	position:relative;
	z-index: 6;
}

#trans-nav li a:hover { 
	color: #a3f1d7;
}

#trans-nav li ul { 
	display: none;
	position: absolute; 
	left: 0; 
	width: 8em; 
	background: #312d2e; 
	list-style-type: none; 
	padding: 0; 
	margin: 0; 
}

#trans-nav li:hover ul { display: block; }

#trans-nav li ul li { 
	float: none; 
	position: relative; 
	background: none; 
	z-index: 30;
}

#trans-nav li:hover ul li { 
	height: 30px; 
	line-height: 30px; 
}

#trans-nav li ul li a { 
	background: #312d2e; 
}

#trans-nav li ul li a:hover { 
	color: #5a8078; 
}

#trans-nav li { 
	-webkit-transition: all 0.2s; 
}

#trans-nav li a {
	-webkit-transition: all 0.5s; 
}

#trans-nav li ul { 
	-webkit-transition: all 1s; 
}

#trans-nav li ul li { 
	-webkit-transition: height 0.5s; 
}

#social_external_links {
    width:100%;
    float:right;
    text-align:right;
}

.mini_social_logo {
    max-width:20px;
    max-height:20px;
    height:18px;
    width:auto;
    margin-right:5px;
}
