.album_polaroids_container {
	width: 100%; 
	height: 700px; 
	overflow: auto;
	position: relative;
	z-index: 1;
}

.album_polaroid {
	display: inline-block;
	font-family:"Comic Sans", cursive, sans-serif;
	margin-right: auto;
	margin-left:auto;
	margin-top: 20px;
	margin-bottom: 20px;
	font-style: italic;
	text-align:center;
	height: 210px;
	width: 180px;
	vertical-align: top;
	background: #FFF;
	-webkit-box-shadow:  3px 5px 3px 2px rgba(0, 0, 0, 0.5);
    box-shadow:  3px 5px 3px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
}
	
.album_polaroid img{
    max-height: 180px;
	max-width: 160px;
	height:auto;
	width:auto;
}

.album_product_link {
    text-decorator:none;
    color:black;
}

.album_product_link:visited {
    text-decorator:none;
    color:black;
}

.go_back_button {
	cursor: pointer;
}

.go_back_button img{
	height: 25px;
}

.polaroid_album_container {
	background: #FFF;
	z-index:3;
	cursor: pointer;
	text-align: center;
	margin-bottom: 15px;
	margin-right: 15px;
	display: inline-block;
	vertical-align: middle;
	height: 160px;
	width: 130px;
	padding: 5px;
	-webkit-box-shadow:  3px 5px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow:  3px 5px 3px 2px rgba(0, 0, 0, 0.2);
}

.polaroid_album_container .album_polaroid_img_container {
	display: table-cell;
	width: 130px;
	height: 130px;
	max-width: 160px !important;
	max-height: 130px !important;
	background: #EEE;
	vertical-align:middle;
}
.polaroid_album_container .album_polaroid_img_container img{
	width: auto;
	height: auto;
	max-width: 130px !important;
	max-height: 130px !important;	
}
.polaroid_album_container .album_polaroid_name_container {
	font-style: italic;
	font-size: 80%;
}

.album_polaroid_hover_container {
	text-align: left;
	z-index: 2;
	margin-left: -155px;
	opacity: 0;
	cursor: pointer;
	margin-bottom: 15px;
	margin-right: 15px;
	display: inline-block;
	vertical-align: middle;
	height: 160px;
	width: 130px;
	padding: 5px;
}

.polaroid_album_container_mini {
	background: #FFF;
	cursor: pointer;
	text-align: center;
	margin-bottom: 15px;
	margin-right: 15px;
	display: inline-block;
	vertical-align: middle;
	height: 60px;
	width: 43px;
	padding: 2px;
	-webkit-box-shadow:  3px 5px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow:  3px 5px 3px 2px rgba(0, 0, 0, 0.2);
    -moz-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.polaroid_album_container_mini div {
	vertical-align: top;
	top: 0px;
	display: table-cell;
	width: 41px;
	height: 43px;
	max-width: 160px !important;
	max-height: 130px !important;
	background: #EEE;
	vertical-align:middle;
}
.polaroid_album_container_mini div img{
	max-width: 41px !important;
	max-height: 43px !important;	
}
.polaroid_album_container_mini span {
	font-style: italic;
	font-size: 80%;
}