
.register_table_container {
	overflow: hidden;
	height: 601px;
	width: auto;
	padding: 0;
	margin-top: -5px;
	table-layout:fixed;
	background-repeat: no-repeat;
	background-position: left top;
}

.register_table_container_message {
	text-align: left;
	vertical-align: top;
	padding-top: 50px;
	padding-left: 50px;
}

.register_table_message_welcome {
	color: #FFF;
	font-size: 300%;
}

.register_table_message_text {
	color: #FFF;
	font-size: 250%;
}

.register_table_container_form{
	white-space: nowrap;
	text-align:left;
	vertical-align: bottom;
	padding-left: 130px;
	padding-bottom: 50px;
}

#register_user_form {
	font-style: italic;
	color: #FFF;
}

#register_user_form ul {
	list-style: none;
}

#register_user_form ul li {
	white-space:nowrap;
}

#register_user_form input {
	margin-bottom: 14px;
}

#register_user_form input[type=text], #register_user_form input[type=password] {
	background: #f97f04;
	font-style: italic;
	padding: 6px;
	color: #FFF;
	border: 0px solid #FFF;
	width: 350px;
}

#register_user_form input[type=text]:focus, 
#register_user_form input[type=password]:focus {
	background: #ffb404;
	color: #FFF;
	box-shadow: 0 0 5px rgba(255, 180, 4, 1);
    -webkit-box-shadow: 0 0 5px rgba(255, 180, 4, 1);
}

#register_user_form input[type="submit"]{
	cursor: pointer;
	position: relative;
	right: 0px;
	background: #f97f04;
	color: #FFF;
	padding: 3px;
	border: 0px solid #FFF;
}

.register_form_bulletins_service {
	font-size: 85%;
}

.register_errors_arrow_down { 
 	width: 0; 
 	height: 0;
 	margin-top: -5px;
 	margin-bottom: 2px;
 	border-left: 5px solid transparent; 
 	border-right: 5px solid transparent; 
 	border-top: 7px solid #FE642E; 
 }

.register_errors_text {
	margin-bottom: 5px;
	font-size: 70%;
	color: #FFF;
	padding: 3px;
	background: #FE642E;
	width: auto;
	border-right-radius: 30px; 
}

#register_user_form .form_error_arrow {
	display: inline-block;
	margin-left: -6px;
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent; 
	border-right: 7px solid #FE642E; 
	border-bottom: 5px solid transparent;
}

#register_user_form .form_error_text{
	display: inline-block;
	margin-bottom: 5px;
	margin-left: -5px;
	font-size: 70%;
	color: #FFF;
	padding: 3px;
	background: #FE642E;
	height: auto;
	width: auto;
}