{% extends "main_template.html" %}
{% block content %}
	<h3>Trueques pendientes </h3>
	{% if dealer_pendings %}
		{% for pend in dealer_pendings %}
			<h4>{{ pend.id_bid.id_product.name }}</h4>
			{{ pend.id_bid.id_bidder.first_name }} {{ pend.id_bid.id_bidder.last_name }} <br>
			<a href="/transactions/verify/{{ pend.id }}">Verificar trueque</a>
			<br>
		{% endfor %}
	{% endif %}

	{% if bidder_pendings %}
		{% for pend in bidder_pendings %}
			<h4>{{ pend.id_bid.id_product.name }}</h4>
			{{ pend.id_dealer.first_name }} {{ pend.id_dealer.last_name }} <br>
			<a href="/transactions/verify/{{ pend.id }}">Verificar trueque</a>
			<br>
		{% endfor %}
	{% endif %}
{% endblock %}
