<link rel="stylesheet" media="all" href="/static/style/style_template_pendings.css" />
<link href="/static/style/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
{% load pagination_tags %}
{% autopaginate dealer_pendings 10 %}
<div class="pendings_container">
	<span class="pendings_container_title"> TRUEQUES PENDIENTES	</span>
	<br><br>
	{% paginate %}
	
	{% if dealer_pendings %}
		{% for pend in dealer_pendings %}
			<div id="/transactions/verify/{{ pend.id }}" class="pending_button">
				<div id="album_polaroid_{{ forloop.counter }}" class="polaroid_album_container">
					<div class="album_polaroid_img_container">
						<img src="/media/{{ pend.id_bid.id_product.img }}/img_1_medium.png" alt="{{ pend.id_bid.id_product.name }}"/>
					</div>
					<span class="album_polaroid_name_container">{{ pend.id_bid.id_product.name }}</span>
				</div>
			</div>
		{% endfor %}
	{% endif %}

	{% if bidder_pendings %}
		{% for pend in bidder_pendings %}
			<div id="/transactions/verify/{{ pend.id }}" class="pending_button">
				<div id="album_polaroid_{{ forloop.counter }}" class="polaroid_album_container">
					<div class="album_polaroid_img_container">
						<img src="/media/{{ pend.id_bid.id_product.img }}/img_1_medium.png" alt="{{ pend.id_bid.id_product.name }}"/>
					</div>
					<span class="album_polaroid_name_container">{{ pend.id_bid.id_product.name }}</span>
				</div>
			</div>
		{% endfor %}
	{% endif %}
</div>
	
<div id="dialog_int" style="display:none;">
	<div id="dialog_int_result"></div>
</div>