<link rel="stylesheet" media="all" href="/static/style/style_template_code_window.css" />
<script src="/static/js/jquery.raty.min.js"></script>

<div class="code_window_container">
	
	<form method="POST" action="/transactions/verify/{{ id_trade }}" id="code_window_form">
		{% csrf_token %}
		<div class="code_window_container_left_side">
			{% if product %}
				<div class="code_window_polaroid_container">
					<div>
						<img src="/media/{{ product.img }}/img_1.png"/>
					</div>
					<span>{{ product.name }}</span>
				</div>
			{% else %}
				<div class="product_q_price_container">
					<img src="/static/img/icons/Q-gris.png" alt="Q">
					<span>{{ q }}</span>
				</div>
			{% endif %}
			<br>
			<span class="code_window_code_message">Tu código</span>
			<span class="code_window_code_number">{{ code }}</span>
			<br><br>
			
			<div class="code_window_input_container">
				{{ form.code }}
			</div>
		</div>
		<div class="code_window_container_right_side">
			<div class="code_window_user_polaroid_container">
				<div>
					<img src=""/>
				</div>
				<span>{{user.first_name}} {{user.last_name}}</span>
			</div>
			<br>
			<span class="code_window_rating_message">Calificar</span>
			<br>
			<div id="star_rating"></div>
			<br><br>
			<div style="display:none">
				{{ form.rate }}
			</div>
			<div class="code_window_cancel_button">
				Cancelar
			</div>
			<input type="submit" value="Aceptar">
		</div>
	</form>
</div>