.cat_tast_list {
	list-style: none;
}

.cat_taste_list li{
	display: inline-block;
	margin-left: -15px;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

.left_bar_p {
	margin-bottom:20px;
	color: black;
	font-size:85%;
	font-style: italic;
	cursor:pointer;
}

.main_search_table {
	padding-top: 25px;
	width: 100%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.main_left_section {
	vertical-align:top;
	width: 20%;
	text-align:right;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.main_right_section {
	vertical-align:top;
	padding-left: 15px;
	width: 80%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.product_name {
	text-decoration:  none;
	color: black;
}

.search_filter input[type=radio] {
	display:none;
}

.search_filter {
    display:inline;
	text-decoration:  none;
	color: #a8a9ab;
	font-size:75%;
	margin-left:15px;
	padding-right:5px;
	padding-left:10px;
}

.search_filter input selected{
    display:inline;
	text-decoration:  none;
	color: black;
	font-size:75%;
	margin-left:15px;
	padding-right:5px;
	padding-left:10px;
}

.search_filter label{
    padding:10px;
    cursor:pointer;
}

.search_global_filter {
	text-decoration:  none;
	color: #a8a9ab;
	font-size:70%;
	font-style: italic;
	cursor:pointer;
}

.search_country_filter {
	text-decoration:  none;
	color: #a8a9ab;
	font-size:70%;
	font-style: italic;
	cursor:pointer;
}

.search_city_filter {
	text-decoration:  none;
	color: #a8a9ab;
	font-size:70%;
	font-style: italic;
	cursor:pointer;
}

.search_price_filter {
	text-decoration:  none;
	color: #a8a9ab;
	font-size:70%;
	font-style: italic;
	cursor:pointer;
}

.search_price_filter input[type=checkbox] {
	display:none;
}

.search_price_filter input selected{
    display:inline;
	text-decoration:  none;
	color: black;
	font-size:75%;
	margin-left:15px;
	padding-right:5px;
	padding-left:10px;
}

.search_price_filter label{
    padding:10px;
    cursor:pointer;
}


.taste_checkbox input[type=checkbox] {
	visibility: hidden;
}

.taste_checkbox label {
	cursor:pointer;
}
.taste_checkbox label img {
	width: 30px;
	height: auto;
}

.taste_checkbox label label {
	text-decoration:  none;
	margin-right: 20px;
	color: #a8a9ab;
	font-family: Arial;
}

.taste_checkbox input[type=checkbox]:checked + label label{
	cursor:pointer;
	width: 30px;
	height: 30px;
	color: #463a2f;
}

#search_button {
	background:none;
	padding-top: 10px;
	padding-right: 5px;
	color: #a8a9ab;
	text-align: right;
}
