{% extends "main_template.html" %}
{% block content %}
<link rel="stylesheet" media="all" href="/static/style/style_template_user_edit_profile.css" />
<section class="edit_user_profile_section">
<div class="edit_profile_table_container">
	<form action="" method="post" id="edit_profile_form">
		{% csrf_token %}
		<table class="edit_profile_table">
			<tr>
				<td>
					<ul class="edit_profile_list">
						<li><span class="edit_profile_text">Editar Datos del Perfil</span></li>
						<li>{{ form.first_name }} </li>
						<li>{{ form.last_name }}</li>
						<li>{{ form.email }}</li>
						<li>{{ form.email_2 }}</li>
						<li>{{ form.phone_1 }}</li>
						<li>{{ form.phone_2 }}</li>
					</ul>
				</td>
				<td class="edit_profile_change_pass_cell">
					<ul class="edit_profile_pass_list">
						<li><span class="edit_profile_change_pass_text">Cambio de Contraseña</span></li>
						<li>{{ form.password }}</li>
						<li>{{ form.new_password_1 }}</li>
						<li>{{ form.new_password_2 }}</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					<span class="edit_profile_tastes_text">Intereses</span>
					<div class="edit_profile_tastes_column">
						<ul class="edit_profile_tastes_list">
							<li>{{ form.art }} {{ form.art.label_tag }}</li>
							<li>{{ form.music }} {{ form.music.label_tag  }}</li>
							<li>{{ form.tech }} {{ form.tech.label_tag  }}</li>
							<li>{{ form.cars }} {{ form.cars.label_tag  }}</li>
							<li>{{ form.travels }} {{ form.travels.label_tag  }}</li>
						</ul>
					</div>
					<div class="edit_profile_tastes_column">
						<ul class="edit_profile_tastes_list">
							<li>{{ form.clothes }} {{ form.clothes.label_tag  }}</li>
							<li>{{ form.cine }} {{ form.cine.label_tag  }}</li>
							<li>{{ form.sports }} {{ form.sports.label_tag  }}</li>
							<li>{{ form.eco }} {{ form.eco.label_tag  }}</li>
							<li>{{ form.culture }} {{ form.culture.label_tag  }}</li>
						</ul>
					</div>
					<div class="edit_profile_tastes_column">
						<ul class="edit_profile_tastes_list">
							<li>{{ form.spectacles }} {{ form.spectacles.label_tag  }}</li>
							<li>{{ form.love }} {{ form.love.label_tag  }}</li>
							<li>{{ form.food }} {{ form.food.label_tag  }}</li>
							<li>{{ form.vacations }} {{ form.vacations.label_tag  }}</li>
							<li>{{ form.services }} {{ form.services.label_tag  }}</li>
						</ul>
					</div>
				</td>
				<td>
					<ul class="edit_profile_submit_list">
						<li><span class="edit_profile_save_text">¿Guardar los cambios?</span></li>
						<li>
							<a href="/usuarios/profile" class="edit_profile_cancel_link">
								<div class="edit_profile_cancel_button">cancelar</div>
							</a> 
							<input type="submit" value="aceptar">
						</li>
					</ul>
				</td>
			</tr>
		</table>
		{% if form.errors %}
		    <p style="color: red;">
		        Please correct the error{{ form.errors|pluralize }} below.
		    </p>
		{% endif %}
</div>

<script type="text/javascript" src="/static/js/jq_template_user_register.js"></script>
</section>
{% endblock %}
