{% extends "main_template.html" %}
{% block content %}
<link rel="stylesheet" media="all" href="/static/style/style_template_user_edit_profile.css" />
<section class="edit_user_profile_section">
<div class="edit_profile_table_container">
	<form action="" method="post" id="edit_profile_form">
		{% csrf_token %}
		<table class="edit_profile_table">
			<tr>
				<td>
					<ul class="edit_profile_list">
						<li><span class="edit_profile_text">Editar Datos del Perfil</span></li>
						<li>{{ form.first_name }} </li>
						<li>{{ form.last_name }}</li>
						<li>{{ form.email }}</li>
						<li>{{ form2.email_2 }}</li>
						<li>{{ form2.phone_1 }}</li>
						<li>{{ form2.phone_2 }}</li>
					</ul>
				</td>
				<td class="edit_profile_change_pass_cell">
					<ul class="edit_profile_pass_list">
						<li><span class="edit_profile_change_pass_text">Cambio de Contraseña</span></li>
						<li>{{ form.password }}</li>
						<li>{{ form.new_password_1 }}</li>
						<li>{{ form.new_password_2 }}</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					<span class="edit_profile_tastes_text">Intereses</span>
					<div class="edit_profile_tastes_column">
						<ul class="edit_profile_tastes_list">
							<li>{{ form2.art }} {{ form2.art.label_tag }}</li>
							<li>{{ form2.music }} {{ form2.music.label_tag  }}</li>
							<li>{{ form2.tech }} {{ form2.tech.label_tag  }}</li>
							<li>{{ form2.cars }} {{ form2.cars.label_tag  }}</li>
							<li>{{ form2.travels }} {{ form2.travels.label_tag  }}</li>
						</ul>
					</div>
					<div class="edit_profile_tastes_column">
						<ul class="edit_profile_tastes_list">
							<li>{{ form2.clothes }} {{ form2.clothes.label_tag  }}</li>
							<li>{{ form2.cine }} {{ form2.cine.label_tag  }}</li>
							<li>{{ form2.sports }} {{ form2.sports.label_tag  }}</li>
							<li>{{ form2.eco }} {{ form2.eco.label_tag  }}</li>
							<li>{{ form2.culture }} {{ form2.culture.label_tag  }}</li>
						</ul>
					</div>
					<div class="edit_profile_tastes_column">
						<ul class="edit_profile_tastes_list">
							<li>{{ form2.spectacles }} {{ form2.spectacles.label_tag  }}</li>
							<li>{{ form2.love }} {{ form2.love.label_tag  }}</li>
							<li>{{ form2.food }} {{ form2.food.label_tag  }}</li>
							<li>{{ form2.vacations }} {{ form2.vacations.label_tag  }}</li>
							<li>{{ form2.services }} {{ form2.services.label_tag  }}</li>
						</ul>
					</div>
				</td>
				<td>
					<ul class="edit_profile_submit_list">
						<li><span class="edit_profile_save_text">¿Guardar los cambios?</span></li>
						<li>
							<a href="/usuarios/profile" class="edit_profile_cancel_link">
								<div class="edit_profile_cancel_button">cancelar</div>
							</a> 
							<input type="submit" value="aceptar">
						</li>
					</ul>
				</td>
			</tr>
		</table>
		{% if form.errors %}
		    <p style="color: red;">
		        Please correct the error{{ form.errors|pluralize }} below.
		    </p>
		{% endif %}
</div>

<script type="text/javascript" src="/static/js/jq_template_user_register.js"></script>
</section>
{% endblock %}
