<!DOCTYPE HTML>
<html>
	<head>
		{% if title %}
			<title>{{ product.name }} | Trueque </title>
		{% else %}
			<title>Trueque | Intercambia sin dinero </title>
		{% endif %}
		<link rel="stylesheet" media="all" href="/static/style/style_template_main.css" />
		<link rel="stylesheet" media="all" href="/static/style/style_invite_dialog.css" />
		{% if product_new %}
			<link rel="stylesheet" media="all" href="/static/style/style_template_new_product.css" />
		{% endif %}
		
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
		<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

		<meta charset=utf-8 />
	</head>
	<body>
		
		<header>
			<div class="left_icons_container">
				<ul>
					{% if user %}
						<li class="left_icons_notifications_empty"> </li>
						<li class="left_icons_notifications">
							<a href="/notifications/"><img src="/static/img/icons/notificacion.png" alt="Notificaciones"/></a>
						</li>
						<li class="left_icons_search_bar">
							<div class="ui-widget">
								<input class="search_products_bar">
							</div>
						</li>
					{% else %}
						<li class="left_icon_empty"></li>
					{% endif %}
					<li>
						<a href="/" ><img src="/static/img/logo_trueque.png" alt="Trueque" class="main_logo_trueque"></a>
					</li>
				</ul>
			</div>
			<div class="right_icons_container">
			
				<ul class="nav_icons">
					{% if user %}
						<li tabindex="0">
							<a href="/products/">
								<div class="nav_icon">
									<img src="/static/img/icons/nuevo-trueque.png" alt="New" class="main_about_button">
									<br/>Trueque
								</div>
							</a>
						</li>
					{% endif %}
				
					<li tabindex="1">
						<a href="#">
							<div class="nav_icon">
								<img src="/static/img/icons/about.png" alt="About" class="main_about_button" />
								<br/>About
							</div>
						</a>
						
						<ul>
							<li><a href="#">Blog</a></li>
						    {% if about %}
							    <li><a href="#condiciones">Condiciones de servicio</a></li>
							    <li><a href="#copyright">Copyright</a></li>
							    <li><a href="#privacidad">Privacidad</a></li>
							    <li><a href="#equipo">Equipo</a></li>
							    <li><a href="#empleo">Empleo</a></li>
							{% else %}
								<li><a href="about#condiciones">Condiciones de servicio</a></li>
							    <li><a href="about#copyright">Copyright</a></li>
							    <li><a href="about#privacidad">Privacidad</a></li>
							    <li><a href="about#equipo">Equipo</a></li>
							    <li><a href="about#empleo">Empleo</a></li>
							{% endif %}
						</ul>
					</li>
					
					<li tabindex="2">
						<a href="#">
							<div class="nav_icon">
						  		<img src="/static/img/icons/contacts.png" alt="Contacts" class="main_about_button">
						  		<br>Contacts
							</div>
						</a>
						<ul>
							{% if user %}
								<li><a href="#">Sigo</a></li>
								<li><a href="#">Me siguen</a></li>
								<li id="invite_people"><a>Invitar</a></li>
				        	{% endif %}
							<li><a href="#">Buscar personas</a></li>
						</ul>
					</li>
					
					{% if user %}
						<li tabindex="3">
							<a href="/usuarios/profile/{{ user.id }}">
								<div class="nav_icon">
									<img src="/media/{{ user.profile.img }}/img_1_small.png" class="main_user_img_button"/>
									<br>
									{{ user.first_name }} {{ user.last_name }}
									
								</div>
							</a>
							<ul>
								<li><a href="#">Me gusta</a></li>
								<li><a href="/usuarios/profile/editprofile">Editar</a></li>
								<li><a href="/usuarios/profile/mail">Mensajes</a></li>
								<li><a href="/logout">Logout</a></li>
						 	</ul>
						</li>
					{% else %}
						<li tabindex="3">
							<a href="/login" class="main_enter_button">
								<div class="nav_icon">
									Entrar
								</div>
							</a>
						</li>
					{% endif %}
				</ul>
				
			</div>
		</header>
		
		{% block content %}
		{% endblock %}
		
		<footer>
		</footer>
		<script>
			UserVoice = window.UserVoice || [];
			UserVoice.push(['showTab', 'classic_widget', {
			  mode: 'full',
			  primary_color: '#ff8d0a',
			  link_color: '#08d438',
			  default_mode: 'feedback',
			  forum_id: 199649,
			  support_tab_name: '¿Problemas con Trueque.in?',
			  feedback_tab_name: '¡Danos tu opinión!',
			  tab_label: 'Comentarios y soporte',
			  tab_color: '#ff9012',
			  tab_position: 'middle-right',
			  tab_inverted: false
			}]);
			</script>
			
		<div class="invitation_section">
			<div id="invitation_dialog">
	        </div>
	        <div id="sent" class="modalSentDialog">
		        <div>
			        <a href="#close" title="Close" class="close">X</a>
			        <p>Tus invitaciones fueron enviadas.</p>
		        </div>
	        </div>
	        <div id="registered" class="modalSentDialog">
		        <div>
			        <a href="#close" title="Close" class="close">X</a>
			        <p>Se ha enviado el link de activación a tu email.</br> Su duración es de 48 horas.</p>
		        </div>
	        </div>
        </div>
	</body>
	<script>
	    $(document).ready(function() {
		    $('#invite_people').bind('click', function () {
			    $('#invitation_dialog').dialog({
				    resizable: false,
		            width:'auto'
			    });
			    $.get("/invitation/send/", function(data) {
				    result = data.invitation_data;
				    console.log(result)
				    $('#invitation_dialog')[0].innerHTML = result;
			    });
		    });
		    $(".search_products_bar").autocomplete({
				source: "/usuarios/profile/search/",
				minLength: 1,
				select: function(event, ui){
					$(this).attr("id", ui.item.id);
					$("#id_user_id").val(ui.item.id);
					$(".form_mail_user_info span")[0].innerHTML = ui.item.value;
				},
	  		});
	    });
    </script>
</html>

<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>
	(function(){
	var uv=document.createElement('script');
	uv.type='text/javascript';uv.async=true;
	uv.src='//widget.uservoice.com/VkBKbsuHEYsqsduFq9pb1w.js';
	var s=document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(uv,s)})()
</script>
