<!DOCTYPE HTML>
<html>
	<head>
		{% if title %}
			<title>{{ product.product_name }}</title>
		{% else %}
			<title>Trueque | Intercambia sin dinero </title>
		{% endif %}
		<link rel="stylesheet" media="all" href="/static/style/style_template_main.css" />
		<link rel="stylesheet" media="all" href="/static/style/style_invite_dialog.css" />
		{% if register_form %}
			<link rel="stylesheet" media="all" href="/static/style/style_template_user_register.css" />
		{% endif %}
		{% if product_new %}
			<link rel="stylesheet" media="all" href="/static/style/style_template_new_product.css" />
		{% endif %}
		
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
		<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

		<meta charset=utf-8 />
	</head>
	<body>
		
		<header>
			<div class="left_icons_container">
				<ul>
					<li >
						<a href="/notifications/"><img src="/static/img/icons/notificacion.png" alt="Notificaciones"/></a>
					</li>
					<li class="left_icon_empty"></li>
					<li>
						<a href="/" ><img src="/static/img/logo_trueque.png" alt="Trueque" class="main_logo_trueque"></a>
					</li>
				</ul>
			</div>
			<div class="right_icons_container">
    			<nav>
				   <ul id="trans-nav">
					{% if user %}
						<li>
							<a href="/products/"><img src="/static/img/icons/nuevo-trueque.png" alt="New" class="main_about_button"><br/>Trueque</a>
						</li>
					{% endif %}
					<li class="parent"><a href="#"><img src="/static/img/icons/about.png" alt="About" class="main_about_button"><br/>About</a>
						 <ul>
    						 <li><a href="#">Blog </a></li>
						    {% if about %}
    						    <li><a href="#condiciones">Condiciones de servicio</a></li>
							    <li><a href="#copyright">Copyright</a></li>
							    <li><a href="#privacidad">Privacidad</a></li>
							    <li><a href="#equipo">Equipo</a></li>
							    <li><a href="#empleo">Empleo</a></li>
							{% else %}
    							<li><a href="about#condiciones">Condiciones de servicio</a></li>
							    <li><a href="about#copyright">Copyright</a></li>
							    <li><a href="about#privacidad">Privacidad</a></li>
							    <li><a href="about#equipo">Equipo</a></li>
							    <li><a href="about#empleo">Empleo</a></li>
							{% endif %}
						 </ul>
					  </li>
					  <li class="parent"><a href="#"><img src="/static/img/icons/contacts.png" alt="Contacts" class="main_about_button"><br>Contacts</a>
						 <ul>
						 {% if user %}
							<li><a href="#">Sigo</a></li>
							<li><a href="#">Me siguen</a></li>
							<li><a href="#invitePeople">Invitar</a></li>
				        {% endif %}
							<li><a href="#">Buscar personas</a></li>
						 </ul>
					  </li>
					{% if user %}
						<li class="parent">
						 	<a href="/usuarios/profile/{{ user.id_usuario }}" class="main_enter_button"><img src=""/>{{ user.usuario_name }} {{ user.usuario_lastname }}</a>
						 <ul>
							<li><a href="#">Me gusta</a></li>
							<li><a href="/usuarios/profile/editprofile">Editar</a></li>
							<li><a href="/logout">Logout</a></li>
						 </ul>
					  </li>
						</li>
					{% else %}
						<li>
						 	<a href="/login" class="main_enter_button">Entrar</a>
						</li>
						
					{% endif %}
						<li class ="right_icon_empty" ></li>
					  </ul>
					 </nav>
			</div>
		</header>
		
		{% block content %}
			{% if register_form %}
			<section class="register_section">
				<table class="register_table_container" style="background-image:url('/static/img/random_register/{{random_bg}}.jpg');">
					<tr>
						<td width="30%" class="register_table_container_message">
							<p class="register_table_message_welcome"> Bienvenido! </p>
							<br>
							<p class="register_table_message_text"> A una comunidad que recicla e intercambia sin dinero</p>
						</td>
						<td class="register_table_container_form">
							{{ register_form|safe }}
						</td>
					</tr>
				</table>
			</section>
			{% endif %}
		{% endblock %}
		
		<footer>
		</footer>
		<script>
			UserVoice = window.UserVoice || [];
			UserVoice.push(['showTab', 'classic_widget', {
			  mode: 'full',
			  primary_color: '#ff8d0a',
			  link_color: '#08d438',
			  default_mode: 'feedback',
			  forum_id: 199649,
			  support_tab_name: '¿Problemas con Trueque.in?',
			  feedback_tab_name: '¡Danos tu opinión!',
			  tab_label: 'Comentarios y soporte',
			  tab_color: '#ff9012',
			  tab_position: 'middle-right',
			  tab_inverted: false
			}]);
			</script>
		<div id="invitePeople" class="modalDialog">
	        <div>
		        <a href="#close" title="Close" class="close">X</a>
		        <p>Ingresa los correos de las personas que quieres invitar  </p>
		        <form action="/invitation/send/" method="POST">
		        <textarea class="mailTextBox" name="mails" id="mails" autofocus></textarea>
		        <p >Te quedan <label class="numeros">{{ user.usuario_remaining_invitations }}</label> invitaciones </p>
		        <p><label class="numeros"> 00 </label> sugeridos </p>
		        <input type="reset" value="cancelar" class="inviteButton"/><input type="submit" value="aceptar" class="inviteButton"/>
	        </div>
        </div>
        <div id="sent" class="modalSentDialog">
	        <div>
		        <a href="#close" title="Close" class="close">X</a>
		        <p>Tus invitaciones fueron enviadas.</p>
	        </div>
        </div>
	</body>
</html>

<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>
	(function(){
	var uv=document.createElement('script');
	uv.type='text/javascript';uv.async=true;
	uv.src='//widget.uservoice.com/VkBKbsuHEYsqsduFq9pb1w.js';
	var s=document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(uv,s)})()
</script>
