{% extends "main_template.html" %}
{% block content %}
<link rel="stylesheet" media="all" href="/static/style/style_template_polaroids.css" />
<link rel="stylesheet" media="all" href="/static/style/style_main_search.css" />
<link rel="stylesheet" media="all" href="/static/style/style_login_button_div.css" />
<link href="/static/style/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
<table class="main_search_table">
    <tr>
    <td class="main_left_section">
        <label class="left_bar_p">Búsqueda </label><br/>
            <label class="search_global_filter" id="filter_global">Global</label><br />
            <label class="search_global_filter" id="filter_local">Local</label><br />
        <br/>
        
        <label class="left_bar_p">País </label><br/>
            <div id="countries">
            </div>
        <br/>
        
        <label class="left_bar_p">Localidad </label><br/>
            <div id="cities">
            </div>
        <br/>
        <form id="productSearchForm" action="/search/category/" method="POST">
        {% csrf_token %}
            <label class="left_bar_p">Valor </label><br/>
            <div class="search_price_filter">
                <input type="checkbox" name="price_filter_low"><label id="filter_low">Bajo</label></input>
                <input type="checkbox" name="price_filter_medium"><label id="filter_medium">Medio</label></input>
                <input type="checkbox" id="price_filter_high"><label id="filter_high">Alto</label></input>
            </div>
        <br/>
        
        <p>Amistad sugerida</p>
        {% if rec_users %}
            {% for rec_user in rec_users%}
                {{ rec_user.first_name }} {{ rec_user.last_name }} <img src="" /> <br/>
            {% endfor %}
        {% endif %}
        <p>Actividad reciente</p>
        
        {% if not user %}
        <div id="loginButtons" class="loginButtonsContainer">
            <a href="/register"><p> <em>¡Únete ahora!</em></p></a>
            <a href="{% url 'socialauth_begin' 'twitter' %}">
                <button type="button" id="twitterBtn">
                    <img src="/static/img/twitter.png" alt="tw-logo" class="mini_social_logo"/>
                    <strong>Entrar con Twitter</strong>
                </button>
            </a>
            <a href="{% url 'socialauth_begin' 'facebook' %}">
                <button type="button" id="facebookBtn">
                    <img src="/static/img/facebook.png" alt="fb-logo" class="mini_social_logo"/>
                    <strong>Entrar con Facebook</strong>
                </button>
            </a>
        </div>
        {% endif %}
        <div id="social_external_links">
            <a href="https://www.facebook.com/pages/Trueque/155109701316768" target="_blank">
                <img id="fb-icon" src="/static/img/facebook.png" alt="facebook" class="social_icon"/>
            </a>
            <a href="https://twitter.com/gruiz_skyvortex" class="twitter-follow-button" data-show-count="false" data-lang="es" data-show-screen-name="false" target="_blank">
                <img id="fb-icon" src="/static/img/twitter.png" alt="twitter" class="social_icon"/>
            </a>
            <a href="http://instagram.com/trueque_in" target="_blank">
                <img id="insta-icon" src="/static/img/instagram.png" alt="instagram" class="social_icon"/>
            </a>
        </div>
    </td>

    <td class="main_right_section">
        <section class="product_search_section">
            <span class="text_cat"> Categorías </span> 
            <div class="search_filter">
                <input type="radio"  id="filter_popularity" name="filter" value="popularity"><label id="pop_text">Popularidad</label></input>
                <input type="radio"  id="filter_price" name="filter" value="price"><label id="price_text">Valor</label></input>
                <input type="radio"  id="filter_recent" name="filter" value="recent" checked ><label id="recent_text">Recientes</label></input>
            </div>
                    
            <div class="cat_list_container">
                <ul class="cat_taste_list">
                    <li>
                        <div class="taste_checkbox">
                        {{ form.field_1 }}
                        <label for="id_field_1">
                            <img src="/static/img/tecnologia.png" alt="tecnologia">
                            <label >TECNOLOGÍA</label>
                        </label>
                        </div>
                    </li>
                    
                    <li>
                        <div class="taste_checkbox">
                        {{ form.field_2 }}
                        <label for="id_field_2">
                            <img src="/static/img/ropa.png" alt="ropa">
                            <label >ROPA</label>
                        </label>
                        </div>
                    </li>
                
                    <li>
                        <div class="taste_checkbox">
                        {{ form.field_3 }}
                        <label for="id_field_3">
                            <img src="/static/img/vinilos.png" alt="vinilos">
                            <label >VINILOS</label>
                        </label>
                    </div>
                    </li>
                    
                    <li>
                        <div class="taste_checkbox">
                        {{ form.field_4 }}
                        <label for="id_field_4">
                            <img src="/static/img/diseno.png" alt="diseno">
                            <label >DISEÑO</label>
                        </label>
                    </div>
                    </li>
                    
                    <li>
                        <div class="taste_checkbox">
                        {{ form.field_5 }}
                        <label for="id_field_5">
                            <img src="/static/img/arte.png" alt="arte">
                            <label >ARTE</label>
                        </label>
                        </div>
                    </li>
                    
                    <li>
                        <div class="taste_checkbox">
                        {{ form.field_6 }}
                        <label for="id_field_6">
                            <img src="/static/img/servicio.png" alt="servicios">
                            <label >SERVICIOS</label>
                        </label>
                        </div>
                    </li>
                
                    <li>
                        <div class="taste_checkbox">
                        {{ form.field_7 }}
                        <label for="id_field_7">
                            <img src="/static/img/espectaculos.png" alt="espectaculos">
                            <label >ESPECTÁCULOS</label>
                        </label>
                        </div>
                    </li>
                    
                    <li>
                        <div class="taste_checkbox">
                        {{ form.field_8 }}
                        <label for="id_field_8">
                            <img src="/static/img/amor.png" alt="amor">
                            <label >AMOR</label>
                        </label>
                        </div>
                    </li>
                    
                    <li>                
                        <div class="taste_checkbox">
                        {{ form.field_9 }}
                        <label for="id_field_9">
                            <img src="/static/img/comida.png" alt="comida">
                            <label >COMIDA</label>
                        </label>
                        </div>
                    </li>
                
                    <li>
                        <div class="taste_checkbox">
                        {{ form.field_10 }}
                        <label for="id_field_10">
                            <img src="/static/img/deporte.png" alt="deporte">
                            <label >DEPORTE</label>
                        </label>
                        </div>
                    </li>
                
                    <li>
                        <div class="taste_checkbox">
                        {{ form.field_11 }}
                        <label for="id_field_11">
                            <img src="/static/img/musica.png" alt="musica">
                            <label >MÚSICA</label>
                        </label>
                        </div>
                    </li>
                
                    <li>
                        <div class="taste_checkbox">
                        {{ form.field_12 }}
                        <label for="id_field_12">
                            <img src="/static/img/eco.png" alt="eco">
                            <label >ECO</label>
                        </label>
                    </div>
                    </li>
                </ul>
            </div>
                
            <ul class="buttons_container">
                <li class="cat_container_button_up_down">
                    <img src="/static/img/icons/drop-up-icon20.png" alt="" onclick="showHiddeSearchForm()" class="up_down_button_img"/>
                </li>
                <li class="search_box" >
                    <div class="search_button_box">
                        <input class="search_button" type="submit" value="BUSCAR"/>
                    </div>
                    <div class="search_box_line"></div>
                </li>
            </ul>
            
            </form>
        </section>
    
        {% load pagination_tags %}
            <style>
                {% for rand in random_ints %}
                    #album_polaroid_{{ forloop.counter }} {
                        -moz-transform: scale(1) rotate({{rand}}deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
                        -webkit-transform: scale(1) rotate({{rand}}deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
                        -o-transform: scale(1) rotate({{rand}}deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
                        -ms-transform: scale(1) rotate({{rand}}deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
                        transform: scale(1) rotate({{rand}}deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg); 
                        }
                {% endfor %}
            </style>
            <br>
            <div id="result">
                {% if data %}
                    {% for product in data %}
                        <div id="album_polaroid_{{ forloop.counter }}" class="album_polaroid"><a class="product_name" href="/products/{{ product.id }}"><image src="/media/{{ product.img }}/img_1.png" alt="{{product.name}}" height="150"/><br />{{ product.name }}</a></div>
                    {% endfor %}    
                {% endif %}
                
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript" src="/static/js/js_product_search.js"></script>
{% endblock %}
