<!DOCTYPE HTML>
<html>
	<head>
		{% if product %}
			<title>{{ product.product_name }}</title>
		{% else %}
			<title>Trueque | Intercambia sin dinero </title>
		{% endif %}
		<link rel="stylesheet" media="all" href="/static/style/style_template_main.css" />
		{% if register_form %}
			<link rel="stylesheet" media="all" href="/static/style/style_template_user_register.css" />
		{% endif %}
		{% if user_profile %}
			<link rel="stylesheet" media="all" href="/static/style/style_template_user_profile.css" />
		{% endif %}
		{% if edit_user_profile %}
			<link rel="stylesheet" media="all" href="/static/style/style_template_user_edit_profile.css" />
		{% endif %}
		{% if user_login %}
			<link rel="stylesheet" media="all" href="/static/style/style_template_user_login.css" />
		{% endif %}
		{% if product_new %}
			<link rel="stylesheet" media="all" href="/static/style/style_template_new_product.css" />
		{% endif %}
		<script 
	    src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript">
	    </script>
	    <!-- UserVoice JavaScript SDK (only needed once on a page) -->
		<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/VkBKbsuHEYsqsduFq9pb1w.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>
		<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
		<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
		<meta charset=utf-8 />
	</head>
	<body>
		<header>
			<div class="left_icons_container">
				<ul>
					<li class="left_icon_empty"></li>
					<li>
						<a href="/" ><img src="/static/img/logo_trueque.png" alt="Trueque" class="main_logo_trueque"></a>
					</li>
				</ul>
			</div>
			<div class="right_icons_container">
				<ul>
					{% if register_form %}
						<li>
							About
						</li>
						<li>
							<img src="/static/img/icons/about.png" alt="About" class="main_about_button">
						</li>
						<li>
						 	<a href="/usuarios/login" class="main_enter_button">Entrar</a>
						</li>
						<li class ="right_icon_empty" ></li>
					{% endif %}
				</ul>
			</div>
		</header>
		
		{% if register_form %}
		<section class="register_section">
			<table class="register_table_container" style="background-image:url('/static/img/random_register/{{random_bg}}.jpg');">
				<tr>
					<td width="30%" class="register_table_container_message">
						<p class="register_table_message_welcome"> Bienvenido! </p>
						<br>
						<p class="register_table_message_text"> A una comunidad que recicla e intercambia sin dinero</p>
					</td>
					<td class="register_table_container_form">
						{{ register_form|safe }}
					</td>
				</tr>
			</table>
		</section>
		{% endif %}
		
		{% if user_profile %}
		<section class="user_profile_section">
			{{ user_profile|safe }}
		</section>
		{% endif %}
		
		{% if edit_user_profile %}
		<section class="edit_user_profile_section">
			{{ edit_user_profile|safe }}
		</section>
		{% endif %}
		
		{% if user_login %}
		<section class="user_login_section">
			{{ user_login|safe }}
		</section>
		{% endif %}
		
		{% if product_new %}
		<section class="product_new_section">
			{{ product_new|safe }}
		</section>
		{% endif %}
		
		{% if product_search %}
		<section class="product_search_section">
			{{ product_search|safe }}
		</section>
		{% endif %}
		
		{% if product_details %}
		<section class="product_details_section">
			{{ product_details|safe }}
		</section>
		{% endif %}

		{% if product_new_comment %}
		<section class="product_new_comment_section">
			{{ product_new_comment|safe }}
		</section>
		{% endif %}
		
		{% if bid_new %}
		<section class="bid_new_section">
			{{ bid_new|safe }}
		</section>
		{% endif %}
		
		{% if bid_pendings %}
		<section class="bid_pendings_section">
			{{ bid_pendings|safe }}
		</section>
		{% endif %}
		
		{% if trade_verifier %}
		<section class="trade_verifier_section">
			{{ trade_verifier|safe }}
		</section>
		{% endif %}
		
		<footer>
		</footer>
	</body>
</html>
