{% extends "main_template.html" %}
{% block content %}
	{% if product %}
		<title>{{ product.product_name }}</title>
	{% endif %}
	<!-- UserVoice JavaScript SDK (only needed once on a page) -->
	<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/VkBKbsuHEYsqsduFq9pb1w.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>
	</head>
	<body>
		{% if product %}
			<img src="/media/{{ product.product_img }}/img_1.png" alt="{{product.product_img}}_01" width="200"></img>
			</br>
			<img src="/media/{{ product.product_img }}/img_2.png" alt="{{product.product_img}}_02" width="70"></img>
			<img src="/media/{{ product.product_img }}/img_3.png" alt="{{product.product_img}}_03" width="70"/>
			<img src="/media/{{ product.product_img }}/img_4.png" alt="{{product.product_img}}_04" width="70"/>
			<img src="/media/{{ product.product_img }}/img_5.png" alt="{{product.product_img}}_05" width="70"/>
			<h2>{{ product.product_name }}</h2>
			<p>{{ product.product_description }}</p>
			<a href="/album/toalbum/{{product.id_product}}">Agregar a un album</a><br>
			{% if categories %}
				{% for cat in categories %}
					{{ cat.id_category.category_name }}
				{% endfor %}
			{% endif %}
			<p>{{ product.product_q_amount }}</p>
			<h3>Interesados</h3>
			{% if bids %}
				{% for bid in bids %}
					<p>{{ bid.id_bidder.usuario_name }} {{ bid.id_bidder.usuario_lastname }}</p>
					{% if bid.bid_id_product %}					
						<p> <img src="/media/{{ bid.bid_id_product.product_img }}/img_1.png" width="70"/>    {{ bid.bid_id_product.product_name }}</p>
					{% else %}
						<p> {{ bid.bid_q }} </p>
					{% endif %}
				{% endfor %}
			{% endif %}
			{% if user %}
			<a href="/transactions/bid/{{ product.id_product }}">Hacer trueque</a>
			{% endif %}
			
			
			<h3>Comentarios</h3>
			{% if comments %}
				{% for comment in comments %}
					<p>{{ comment.id_sender.usuario_name }} {{ comment.id_sender.usuario_lastname }}</p>
					<p>{{ comment.comment_subject }}</p>
					<p>{{ comment.comment_text }}</p>
					<p>{{ comment.comment_datetime|date:"l j/F Y" }}</p>
				{% endfor %}
			{% endif %}
			{% if user %}
			<a href="/products/comment/{{ product.id_product }}">Deja tu comentario</a>
			{% endif %}
		{% endif %}
{% endblock %}
