{% extends "main_template.html" %}
{% block content %}
<link rel="stylesheet" media="all" href="/static/style/style_template_user_profile.css" />
<script src="/static/js/jquery.raty.min.js"></script>

<section class="user_profile_section">
{% csrf_token %}
<table class="user_profile_main_table">
	<tr>
		<td class="user_info_table_section">
			<div class="user_info_table_row">
				<div class="user_photo_name_container">
					<div class="album_polaroid_img_container">
						<img src=""/>
					</div>
					<span class="album_polaroid_name_container">{{ user.first_name }} {{ user.last_name }}</span>
				</div>
				<div class="user_profile_edit_button">
					<a href="/usuarios/profile/editprofile">Editar perfil</a>
				</div>
			</div>
			<div class="user_info_table_row">
				<div class="user_rating_container">
				<p>Mi calificación</p>
				<span class="stars">{{ user.profile.rating }}</span>
				<p class="user_rating_tittle">{{level}}</p>
				</div>
			</div>
			<div class="user_info_table_row"> 
				<div class="user_info_table_column">
					<span class="user_info_q">{{ user.profile.quds }}</span>
				</div>
				<div class="user_info_table_column_inter">
					<img src="/static/img/icons/Q-gris.png" alt="Q" class="user_info_q_icon">
				</div>
				<div class="user_info_table_column">
					<span class="user_info_data_names">Trueques:</span> <span class="user_info_numbers">{{ user.profile.barter_qty }}</span>
					<br>
					<span class="user_info_data_names">Siguiendo:</span> <span class="user_info_numbers">{{ user.profile.followed_qty }}</span>
					<br>
					<span class="user_info_data_names">Me siguen:</span> <span class="user_info_numbers">{{ user.profile.follower_qty }}</span>
				</div>
			</div>
			<div class="user_info_table_row">
				<p class="user_info_show_history_button">Ver Mi Historial</p>
			</div>
		</td>
		<td class="user_interaction_table_section">
			{% block right_panel %}
				{% if albums %}
					<div id="result">{{ albums|safe }}</div>
				{% endif %}

				{% if following %}
					<h1> FOLLOWING </h1>
					{% for follow in following %}
					<br> {{follow.id_followed.first_name}} {{follow.id_followed.last_name}}</br>
					{% endfor %}
				{% endif %}
			
				{% if followers %}
					<h1> FOLLOWERS </h1>
					{% for follower in followers %}
					<br> {{follower.id_follower.first_name}} {{follower.id_follower.last_name}}</br>
					{% endfor %}
				{% endif %}
			
				{% if mail %}
					<div id="tabs-min">
						<ul>
							<li class="mail_tabs_title">Correos</li>
							<li><a href="/usuarios/profile/mail/inbox/">Recibidos</a></li>
							<li><a href="/usuarios/profile/mail/compose/">Redactar</a></li>
							<li><a href="/usuarios/profile/mail/sent/">Enviados</a></li>
						</ul>
					</div>
				{% endif %}
			{% endblock %}
		</td>
		<td class="user_extras_table_section">
			
		</td>
	</tr>
</table>

	<script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script type="text/javascript" src="/static/js/jq_star_rating.js"></script>
{% if albums %}
	<script type="text/javascript" src="/static/js/js_albums_pagination.js"></script>
{% endif %}

<script>
	current_tab = "";
	$(function() {
		$("#tabs-min").tabs({
			load: function( event, ui ) {
				if(ui.tab.index() == 3 | ui.tab.index() == 1){
					if(ui.tab.index() == 1) current_tab = "inbox/";
					else current_tab = "sent/";
					pagPagination();
				}
			}
		});
		
	});
	function pagPagination(){
		$('.pag').bind('click', function () {
			$.get("/usuarios/profile/mail/" + current_tab + this.id, function(data) {
				if(current_tab == "inbox/") $("#ui-tabs-1")[0].innerHTML = data;
				else $("#ui-tabs-3")[0].innerHTML = data;
				pagPagination();
			});
		});
		$('.mail_container').bind('click', function () {
			if ( this.className.match(/(?:^|\s)mail_container(?!\S)/) ){
				this.classList.remove('mail_container');
				this.classList.add('mail_container_show');
			}
			else{
				this.classList.remove('mail_container_show');
				this.classList.add('mail_container');
			}
		});
	}
</script>

</section>
{% endblock %}
