<link rel="stylesheet" media="all" href="/static/style/style_template_polaroids.css" />
<link href="/static/style/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
{% load pagination_tags %}
{% autopaginate object_list 10 %}
	<div class="go_back_button">
		<img src="/static/img/icons/drop-back-icon.png" onclick="location.reload();"></img>
		<span class="user_interaction_table_tittle" onclick="location.reload();"> VOLVER </span>
	</div>
	
	{% paginate %}
	<br>
	<div class="album_polaroids_container">
		{% for product in object_list %}
		    <a class="album_product_link" href="/products/{{product.id}}">
    			<div id="album_polaroid_{{ forloop.counter }}" class="album_polaroid">
    			    <image src="/media/{{ product.img }}/img_1.png" alt="{{product.img}}" height="150"/><br>
    			    {{ product.name }}
			    </div>
			</a>
		{% endfor %}
		<a href="/usuarios/profile/addalbum" class="user_profile_add_album_link"></a>
	
		<div id="dialog_add_album" style="display:none">
			<div id="dialog_add_album_result"></div>
		</div>
	</div>
