<link rel="stylesheet" media="all" href="/static/style/style_template_polaroids.css" />
<link href="/static/style/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
{% load pagination_tags %}
{% autopaginate object_list 15 %}
	<span class="user_interaction_table_tittle"> ALBUMES </span>
	{% paginate %}
	<br>
	<div class="album_polaroids_container">
		{% if is_loged_edit %}
			<div class="add_album_container"><div class="add_album_cell_container">
				<ul>
					<li id="add_album_button">
						<img src="/static/img/icons/+naranjo.png" alt="+" class="user_profile_add_album_img">
					</li>
					<li id="add_album_button">
						Crear un álbum
					</li>
				</ul>
			</div></div>
		{% endif %}
		{% for album in object_list %}
			<div id="album_polaroid_{{ forloop.counter }}" class="album_polaroid" onclick="showContent({{ album.id }})">{{ album.name }}</div>
		{% endfor %}
		<a href="/usuarios/profile/addalbum" class="user_profile_add_album_link"></a>
	
		<div id="dialog_add_album" style="display:none">
			<div id="dialog_add_album_result"></div>
		</div>
	</div>