<link rel="stylesheet" media="all" href="/static/style/style_template_polaroids.css" />
<link href="/static/style/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
{% load pagination_tags %}
{% autopaginate object_list 10 %}
	<div class="go_back_button">
		<img src="/static/img/icons/drop-back-icon.png" onclick="location.reload();"></img>
		<span class="user_interaction_table_tittle" onclick="location.reload();"> VOLVER </span>
	</div>
	
	{% paginate %}
	<br>
	<div class="album_polaroids_container">
		{% for product in object_list %}
			<a href="/products/{{ product.id }}" style="text-decoration:none;color:#333;">
				<div id="album_polaroid_{{ forloop.counter }}" class="polaroid_album_container">
					<div class="album_polaroid_img_container">
						<img src="/media/{{ product.img }}/img_1_medium.png" alt="{{product.name}}"/>
					</div>
					<span class="album_polaroid_name_container">{{ product.name }}</span>
				</div>
			</a>
		{% endfor %}
	</div>
