<div class="edit_profile_table_container">
	<form action="" method="post" id="edit_profile_form">
		{% csrf_token %}
		<table class="edit_profile_table">
			<tr>
				<td>
					<ul class="edit_profile_list">
						<li><span class="edit_profile_text">Editar Datos del Perfil</span></li>
						<li>{{ form.usuario_name }} </li>
						<li>{{ form.usuario_lastname }}</li>
						<li>{{ form.usuario_email_1 }}</li>
						<li>{{ form.usuario_email_2 }}</li>
						<li>{{ form.usuario_phone_1 }}</li>
						<li>{{ form.usuario_phone_2 }}</li>
					</ul>
				</td>
				<td class="edit_profile_change_pass_cell">
					<ul class="edit_profile_pass_list">
						<li><span class="edit_profile_change_pass_text">Cambio de Contraseña</span></li>
						<li>{{ form.usuario_password }}</li>
						<li>{{ form.usuario_new_password_1 }}</li>
						<li>{{ form.usuario_new_password_2 }}</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					<span class="edit_profile_tastes_text">Intereses</span>
					<div class="edit_profile_tastes_column">
						<ul class="edit_profile_tastes_list">
							<li>{{ form.usuario_art }} {{ form.usuario_art.label_tag }}</li>
							<li>{{ form.usuario_music }} {{ form.usuario_music.label_tag  }}</li>
							<li>{{ form.usuario_tech }} {{ form.usuario_tech.label_tag  }}</li>
							<li>{{ form.usuario_cars }} {{ form.usuario_cars.label_tag  }}</li>
							<li>{{ form.usuario_travels }} {{ form.usuario_travels.label_tag  }}</li>
						</ul>
					</div>
					<div class="edit_profile_tastes_column">
						<ul class="edit_profile_tastes_list">
							<li>{{ form.usuario_clothes }} {{ form.usuario_clothes.label_tag  }}</li>
							<li>{{ form.usuario_cine }} {{ form.usuario_cine.label_tag  }}</li>
							<li>{{ form.usuario_sports }} {{ form.usuario_sports.label_tag  }}</li>
							<li>{{ form.usuario_eco }} {{ form.usuario_eco.label_tag  }}</li>
							<li>{{ form.usuario_culture }} {{ form.usuario_culture.label_tag  }}</li>
						</ul>
					</div>
					<div class="edit_profile_tastes_column">
						<ul class="edit_profile_tastes_list">
							<li>{{ form.usuario_spectacles }} {{ form.usuario_spectacles.label_tag  }}</li>
							<li>{{ form.usuario_love }} {{ form.usuario_love.label_tag  }}</li>
							<li>{{ form.usuario_food }} {{ form.usuario_food.label_tag  }}</li>
							<li>{{ form.usuario_vacations }} {{ form.usuario_vacations.label_tag  }}</li>
							<li>{{ form.usuario_services }} {{ form.usuario_services.label_tag  }}</li>
						</ul>
					</div>
				</td>
				<td>
					<ul class="edit_profile_submit_list">
						<li><span class="edit_profile_save_text">¿Guardar los cambios?</span></li>
						<li>
							<a href="/usuarios/profile" class="edit_profile_cancel_link">
								<div class="edit_profile_cancel_button">cancelar</div>
							</a> 
							<input type="submit" value="aceptar">
						</li>
					</ul>
				</td>
			</tr>
		</table>
		{% if form.errors %}
		    <p style="color: red;">
		        Please correct the error{{ form.errors|pluralize }} below.
		    </p>
		{% endif %}
</div>

<script type="text/javascript" src="/static/js/jq_template_user_register.js"></script>