{% extends "main_template.html" %}
{% block content %}
<link rel="stylesheet" media="all" href="/static/style/style_template_user_profile.css" />
<section class="user_profile_section">
{% csrf_token %}
<table class="user_profile_main_table">
	<tr>
		<td class="user_info_table_section">
			<div class="user_info_table_row">
				<div class="user_photo_name_container">
					{{ user_data.0.1 }} {{ user_data.1.1 }}
				</div>
			</div>
			<div class="user_info_table_row">
				<div class="user_rating_container">
				<br>
				<p>Calificación</p>
				<span class="stars">{{ user_data.2.1 }}</span>
				<p class="user_rating_tittle">Trocador</p>
				</div>
			</div>
			<div class="user_info_table_row"> 
				<div class="user_info_table_column">
					<span class="user_info_q">{{ user_data.4.1 }}</span>
				</div>
				<div class="user_info_table_column_inter">
					<img src="/static/img/icons/Q-gris.png" alt="Q" class="user_info_q_icon">
				</div>
				<div class="user_info_table_column">
					<span class="user_info_data_names">Trueques:</span> <span class="user_info_numbers">{{ user_data.5.1 }}</span>
					<br>
					<span class="user_info_data_names">Sigue:</span> <span class="user_info_numbers">{{ user_data.6.1 }}</span>
					<br>
					<span class="user_info_data_names">Le siguen:</span> <span class="user_info_numbers">{{ user_data.7.1 }}</span>
				</div>
			</div>
			<div class="user_info_table_row">
				<div class="user_info_follow_container">
					{% if follow and not cancelfollow %}
						<div class="user_info_table_follow_column">
							<a href="follow/{{follow}}" class="user_info_follow_link">
								<img src="/static/img/icons/+naranjo.png" alt="add" class="user_info_follow_button">
							</a>
						</div>
						<div class="user_info_table_follow_column">
							<a href="follow/{{follow}}" class="user_info_follow_link">	
								<span class="user_info_follow_text">seguir a </span><span class="user_info_follow_name">{{ user_data.0.1 }}</span>
							</a>
						</div>
					{% endif %}
					{% if follow and cancelfollow %}
						<div class="user_info_table_follow_column">
							<a href="cancelfollow/{{follow}}" class="user_info_follow_link">
								<img src="/static/img/icons/+naranjo.png" alt="delete" class="user_info_follow_button">
							</a>
						</div>
						<div class="user_info_table_follow_column">
							<a href="cancelfollow/{{follow}}" class="user_info_follow_link">
								<span class="user_info_follow_text">dejar de seguir a </span><span class="user_info_follow_name">{{ user_data.0.1 }}</span>
							</a>
						</div>
					{% endif %}
				</div>
			</div>
		</td>
		<td class="user_interaction_table_section">
			{% if albums %}
				<span class="user_interaction_table_tittle"> ALBUMES </span>
				<div id="result">{{ albums|safe }}</div>
			{% endif %}
		</td>
		<td class="user_extras_table_section">
			<script>
			UserVoice = window.UserVoice || [];
			UserVoice.push(['showTab', 'classic_widget', {
			  mode: 'full',
			  primary_color: '#ff8d0a',
			  link_color: '#08d438',
			  default_mode: 'feedback',
			  forum_id: 199649,
			  support_tab_name: '¿Problemas con Trueque.in?',
			  feedback_tab_name: '¡Danos tu opinión!',
			  tab_label: 'Comentarios y soporte',
			  tab_color: '#ff9012',
			  tab_position: 'middle-right',
			  tab_inverted: false
			}]);
			</script>
		</td>
	</tr>
</table>
	<script type="text/javascript" src="/static/js/jq_star_rating.js"></script>
{% if albums %}
	<script type="text/javascript" src="/static/js/js_albums_pagination.js"></script>
{% endif %}
</section>
{% endblock %}
