<link rel="stylesheet" media="all" href="/static/style/style_template_polaroids.css" />
<link href="/static/style/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
{% load album_img %}
{% load pagination_tags %}
{% autopaginate object_list 15 %}
	<span class="user_interaction_table_tittle"> ALBUMES </span>
	{% paginate %}
	<br>
	<div class="album_polaroids_container">
		{% if is_loged_edit %}
			<div class="add_album_container"><div class="add_album_cell_container">
				<ul>
					<li id="add_album_button">
						<img src="/static/img/icons/+naranjo.png" alt="+" class="user_profile_add_album_img">
					</li>
					<li id="add_album_button">
						Crear un álbum
					</li>
				</ul>
			</div></div>
		{% endif %}
		{% for album in object_list %}
			{% if album.name != "Pendientes" %}
				<div id="album_polaroid_{{ forloop.counter }}" class="polaroid_album_container" onclick="showContent({{ album.id }})">
					<div class="album_polaroid_img_container">
						{% if album|last_img %}
							<img src="/media/{{album|last_img}}/img_1_medium.png"/>
						{% else %}
							<img src=""/>
						{% endif %}
					</div>
					<span class="album_polaroid_name_container">{{ album.name }}</span>
				</div>
				<div id="album_polaroid_{{ forloop.counter }}_mini" class="album_polaroid_hover_container">
					{% for product in album|last_4_product %}
						<div class="polaroid_album_container_mini">
							<div>
								<img src="/media/{{ product.img }}/img_1_small.png"/>
							</div>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<div id="album_polaroid_{{ forloop.counter }}" class="polaroid_album_container" onclick="showPendings()">
					<div class="album_polaroid_img_container">
						{% if album|last_img %}
							<img src="/media/{{album|last_img}}/img_1_medium.png"/>
						{% else %}
							<img src=""/>
						{% endif %}
					</div>
					<span class="album_polaroid_name_container">{{ album.name }}</span>
				</div>
				<div id="album_polaroid_{{ forloop.counter }}_mini" class="album_polaroid_hover_container">
					{% for product in album|last_4_product %}
						<div class="polaroid_album_container_mini">
							<div>
								<img src="/media/{{ product.img }}/img_1_small.png"/>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		{% endfor %}
		<a href="/usuarios/profile/addalbum" class="user_profile_add_album_link"></a>
	
		<div id="dialog_add_album" style="display:none">
			<div id="dialog_add_album_result"></div>
		</div>
	</div>