<html>
<head>
    <title>PROFILE</title>
    <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
    </script>
</head>
<body>
    <h1>PROFILE</h1>
    {% csrf_token %}
    {% for item in user_data %}
    	<br>{{ item.0 }} : {{ item.1 }} </br>
	{% endfor %}
	-----------------------------------------
	{% if albums %}
		<h1> ALBUMES </h1>
		{% for album in albums %}
	    	<br>{{ album.album_name }}</br>
		{% endfor %}
	{% endif %}
	{% if following %}
		<h1> FOLLOWING </h1>
		{% for follow in following %}
		<br> {{follow.id_followed.usuario_name}} {{follow.id_followed.usuario_lastname}}</br>
		{% endfor %}
	{% endif %}
	{% if followers %}
		<h1> FOLLOWERS </h1>
		{% for follower in followers %}
		<br> {{follower.id_follwer.usuario_name}} {{follower.id_follwer.usuario_name}}</br>
		{% endfor %}
	{% endif %}
	-----------------------------------------
	{% if islogededit %}
		<a href="addalbum"><div style="color: red; height: 30px; width: 30px; background:#000;"> </div></a>
	{% endif %}
	-----------------------------------------
	{% if follow and not cancelfollow %}
		<a href="follow/{{follow}}"><div style="color: red; height: 30px; width: 30px; background:#A0F;"> </div></a>
	{% endif %}
	{% if follow and cancelfollow %}
		<a href="cancelfollow/{{follow}}"><div style="color: red; height: 30px; width: 30px; background:#00A;"> </div></a>
	{% endif %}
	<br>-----------------------------------------
	{% if mail %}
		<div id="mail/inbox/" class="mail">Recibidos</div>
		<div id="mail/compose/" class="mail">Redactar</div>
		<div id="mail/sent/" class="mail">Enviados</div>
		<div id="result"></div>
	{% endif %}
	
</body>
    <script type="text/javascript" src="/static/js/mail_tab.js"></script>
</html>