<link rel="stylesheet" media="all" href="/static/style/style_template_to_album.css" />

{% if product %}
	{% if albums %}
		<form id="form_to_album" method="POST" action="/album/savetoalbum/{{ product.id }}">
			{% csrf_token %}
			<div class="styled-select">
				<select name="albumValue">
				{% for album in albums %}
					<option value="{{album.id}}" >{{album.name}}</option>
				{% endfor %}
				</select>
			</div>
			<br>
			<input type="submit" value="Aceptar"/>
		</form>
	{% endif %}
{% endif %}